<?php
$tr = Application_Form_FrmLanguages::getCurrentlanguage();
$this->headTitle($tr->translate('ADD_FAQ')); 
echo $this->headTitle();
$frm = $this->frm;
$countlang = count($this->lang);
?>
<style>
	div.cke_contents.cke_reset {
		height: 600px !important;
	}
	img.image_view {
		width: 273px;
		height: 182px;
	}
	#table_parent thead tr td{
		background: url(../images/tbheader-bg1.jpg) repeat-x scroll center top #F1F1F1;
		border: 1px solid #CCC;
		color: #333;
		font-size: 14px;
		font-weight: bold;
		line-height: 30px;
		padding: 2px 5px;
		text-align: center;
		cursor: pointer;
	}
</style>
<script type="text/javascript">	
	dojo.require("dijit.form.ValidationTextBox");
	dojo.require('dijit.form.Form');	
	dojo.require('dijit.form.Button');
	dojo.require('dijit.form.FilteringSelect');
	dojo.require("dijit.Dialog");
	require(["dijit/form/CheckBox","dijit/Dialog","dijit/layout/TabContainer"]);
</script>
<script src="<?php echo $this->baseUrl();?>/public/ckeditor/ckeditor.js"></script>
<form action="<?php echo $this->url(array('module'=>'menu-manager','controller'=>'faq','action'=>'add')); ?>" dojoType="dijit.form.Form" method="post" enctype="multipart/form-data">
	<script type="dojo/method" event="onSubmit">				
			if(this.validate()) {
				return true;
			}

			return false;
	</script>
		
	<table style="margin: 0 auto; width: 100%">
		<tr class="header">
			<td><strong><i class="fa fa-file-word-o" aria-hidden="true"></i><?php echo $tr->translate('ADD_FAQ')?></strong></td>
		</tr>
		<tr>
			<td>
					<table  width="100%">
						<tr>
							<td align="left" valign="top" width="70%">
							<fieldset>
							<?php if ($countlang>1){?>
								<div id="mainTabContainer" style=" position:relative; width:750px; display:block; height: 900px;" dojoType="dijit.layout.TabContainer" region="center" >
					      	<?php }?>		
					      	<?php $alias=''; foreach($this->lang as $key=> $rs){ if ($key<1){ $alias = str_replace(' ','',$rs['title']);}?>
					      			<div class="tabContentSection" dojoType="dijit.layout.ContentPane" title="<?php echo $tr->translate(strtoupper($rs['title']));?>" selected="true">
										<table cellspacing="5" width="100%">
											<tr>
												<td class="bold"><?php echo $tr->translate('TITLE')?></td>
												<td>
													<input type="text" dojoType="dijit.form.TextBox" required="required" name="title<?php echo str_replace(' ','',$rs['title']);?>"  id="title<?php echo str_replace(' ','',$rs['title']);?>" value="" class="fullside" placeholder="<?php echo $tr->translate("TITLE_IN_".strtoupper($rs['title']));?>" />
													<?php //echo $frm->getElement('title');?>
												</td>
											</tr>
											<tr><td class="bold" colspan="2"><?php echo $tr->translate('CONTENT_'.strtoupper($rs['title']))?></td></tr>
											<tr>
												<td colspan="2">
													<textarea class="ckeditor"   style="min-height:400px; height:400px;" id="description<?php echo str_replace(' ','',$rs['title']);?>" name="description<?php echo str_replace(' ','',$rs['title']);?>"></textarea>
												</td>
											</tr>
										</table>
									</div>
								<?php }?>
							<?php if ($countlang>1){?>
								</div>
							<?php }?>
								</fieldset>
							</td>
							<td width="30%" style=" vertical-align: top;">
								<table cellspacing="5" width="100%">
									<tr><td class="bold"><?php echo $tr->translate('STATUS')?></td></tr>
									<tr>
										<td class="bold"><?php echo $frm->getElement('status');?></td>
									</tr>
								</table>
							</td>								
						</tr>
						<tr>
							<td colspan="2" align="center">
								<input type="button" value="GO_BACK" label="<?php echo $tr->translate('GO_BACK');?>" id="back" dojoType="dijit.form.Button" 
								iconClass="dijitIconUndo" onclick="window.history.back();" />
								<input class="button_success" type="submit" value="save_close" name="save_close" label="<?php echo $tr->translate('SAVE_CLOSE');?>" id="save_close" dojoType="dijit.form.Button"  iconClass="dijitEditorIcon dijitEditorIconSave"/> 	
								<input class="button_success" type="submit" value="save_new" name="save_new" label="<?php echo $tr->translate('SAVE_NEW');?>" id="save_new" dojoType="dijit.form.Button"  iconClass="dijitEditorIcon dijitEditorIconSave"/> 							
							</td>
						</tr>
					</table>	
			</td>			
		</tr>
	</table>	
</form>
