<?php
	$tr = Application_Form_FrmLanguages::getCurrentlanguage();
	echo $this->headTitle($tr->translate('Add Company Type'));
	$countlang = count($this->lang);
	$frm = $this->frm_company_type;
?>	
<script src="<?php echo $this->baseUrl();?>/public/js/help.js"  type="text/javascript"></script>
<script>
dojo.require("dojo.data.ItemFileWriteStore");  
dojo.require("dijit.form.DateTextBox");
dojo.require("dijit.form.CheckBox");
dojo.require("dijit.Dialog");
dojo.require("dijit.layout.TabContainer");
dojo.require("dijit.form.Textarea");
dojo.require("dojo.parser");
dojo.require("dojo.NodeList-manipulate");
</script>
<style>
	img.image_view {
	   width: 160px;
   	   height: 95px;
	}
img.image_viewss {
    width: 30%;
}
</style>
<script src="<?php echo $this->baseUrl();?>/public/ckeditor/ckeditor.js"></script>
<form id='companytype' action="" enctype="multipart/form-data" dojoType="dijit.form.Form" method="post">
	<script type="dojo/method" event="onSubmit">			
			if(this.validate()) {
				loading();
				return true;
			} else {
				return false;
			}
	</script>
	<table style="margin: 0 auto; width: 100%">
		<tr class="header">
				<td><strong><i class="fa fa-cubes" aria-hidden="true"></i><?php echo $tr->translate('Add Company Type')?></strong></td>
			</tr>
		<tr>
			<td>
					<table  width="100%">
						<tr>
							<td align="left" valign="top" width="70%">
							<?php if ($countlang>1){?>
								<div id="mainTabContainer" style=" position:relative; width:800px; display:block; height: 100px;" dojoType="dijit.layout.TabContainer" region="center" >
					      	<?php }?>		
					      	<?php $alias=''; foreach($this->lang as $key=> $rs){ if ($key<1){ $alias = str_replace(' ','',$rs['title']);}?>
					      			<div class="tabContentSection" dojoType="dijit.layout.ContentPane" title="<?php echo $tr->translate(strtoupper($rs['title']));?>" selected="true">
										<table cellspacing="5" width="100%">
											<tr>
												<td  class="bold"><?php echo $tr->translate('TITLE')?></td>
												<td>
													<input type="text" dojoType="dijit.form.TextBox" required="required" name="title<?php echo str_replace(' ','',$rs['title']);?>"  id="title<?php echo str_replace(' ','',$rs['title']);?>" value="" class="fullside" placeholder="<?php echo $tr->translate("TITLE_IN_".strtoupper($rs['title']));?>" />
												</td>
											</tr>
										</table>
									</div>
								<?php }?>
							<?php if ($countlang>1){?>
								</div>
							<?php }?>
								<fieldset>
										<table cellspacing="5" width="100%">
											<tr><td  class="bold"><?php echo $tr->translate('DESCRIPTION')?></td></tr>
											<tr>
												<td >
													<textarea class="ckeditor"   height="400px" style="min-height:60px;" id="description" name="description"></textarea>
												</td>
											</tr>
										
										</table>
								</fieldset>
							</td>
							<td width="30%" class="blog-right">
								<table cellspacing="5" width="100%">
									<tr>
										<td  class="bold"><?php echo $tr->translate('TYPE')?></td>
									</tr>
									<tr>
										<td><?php echo $frm->getElement('main_type');?></td>
									</tr>
									<tr><td  class="bold"><?php echo $tr->translate('STATUS')?></td></tr>
									<tr>
										<td><?php echo $frm->getElement('status');?></td>
									</tr>
									<tr>
									
									</tr>
								</table>
							</td>								
						</tr>
						<tr>
							<td colspan="2" align="center">
								<input type="button" value="GO_BACK" label="<?php echo $tr->translate('GO_BACK');?>" id="back" dojoType="dijit.form.Button" 
									iconClass="dijitIconUndo" onclick="window.history.back();" />
								<input class="button_success" type="submit" value="save_close" name="save_close" label="<?php echo $tr->translate('SAVE_CLOSE');?>" id="save_close" dojoType="dijit.form.Button"  iconClass="dijitEditorIcon dijitEditorIconSave"/> 	
								<input class="button_success" type="submit" value="save_new" name="save_new" label="<?php echo $tr->translate('SAVE_NEW');?>" id="save_new" dojoType="dijit.form.Button"  iconClass="dijitEditorIcon dijitEditorIconSave"/> 							
							</td>
						</tr>
					</table>	
			</td>			
		</tr>
	</table>	
</form>
<table>
<tr>
</tr>
</table>

<script type="text/javascript">
dojo.ready(function(){	
});
function loading(){
    document.getElementsByClassName("overlay")[0].style.display="block";
}
</script>


 