/* -----------------------------------
Template Name: Dazimaxx Premium Multipurpose HTML Template
Description: This is html5 template
Author: HasTech
Version: 1.0
NOTE: This is Header style file. All Header related style included in this file.

--------------------------------------*/
.header-top-right.lang {
    text-align: right;
    color: #333;
	text-transform: uppercase;
}
.header-top-right.lang span.lang_title {
    vertical-align: middle;
}
.header-top-right.lang img {
    margin-right: 5px;
}
.header-top-right.lang span {
    cursor: pointer;
}
.social-links > a {color: #fefefe;font-size: 13px;margin-left: 26px;}
.social-links {padding: 5px 0 5px;text-align: right;}
.header-top {
    border-bottom: 1px solid #ebebeb;
    padding: 10px 0 5px 0;
    position: relative;
    background: #ceffe9;
    border-bottom: #c4ae48 solid 5px;
}
.header-top:after {
    content: '';
    height: 5px;
    background: #00a759;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.header-top-left > span {display: block;padding: 5px 0 5px;font-size: 13px;}
.social-links > a:hover {color: #ffffff;}
.header-area, .header-full-area {z-index: 2; position: relative;}
.logo a {display: inline-block;width: 100%;}
.logo img {
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    width: 100%;
    \: 100%;
}
.main-menu {display: block; z-index: 2; position: relative;}
.main-menu ul {text-align: left;}
.main-menu ul li {display: inline-block; margin-left: 27px; position: relative;}
.main-menu ul li:first-child {
    margin-left: 0;
}
.main-menu ul li a {
    color: #060606;
    display: inline-block;
    font-size: 14px;
	font-weight: 600;
    line-height: 55px;
    padding: 0;
    position: relative;
    text-transform: uppercase;
    -webkit-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}
.main-menu li a i {font-size: 9px; padding-left: 5px;}
.main-menu > nav > ul > li:hover > a, .main-menu > nav > ul > li.active > a {color: #00ab59;}
.main-menu ul li ul {
    background: #ffffff none repeat scroll 0 0;
    left: 0;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    padding: 14px 18px;
    position: absolute;
    text-align: left;
    top: 100%;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    visibility: hidden;
    width: 180px;
    z-index: 999;
}
.main-menu ul li:hover > ul {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; 
    visibility: visible;
}
.main-menu ul li ul li a {}
.main-menu ul li ul li {display: block; margin: 0; padding: 6px 0;}
.main-menu ul li ul li a {
    color: #313131;
    display: block;
    font-size: 13px;
    line-height: 22px;
    padding: 0;
    text-transform: uppercase;
}
.main-menu ul li ul li:hover > a {color: #00ab59;}
.main-menu ul li ul li a:before {display: none;}
.main-menu ul li ul li > ul {
    left: 100%;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    position: absolute;
    top: 17%;
    visibility: hidden;
}
.mobile-menu-area, .mean-container .mean-bar:after {display: none}
.mean-container .mean-bar {
    background: transparent none repeat scroll 0 0;
    min-height: 0;
    padding: 0;
}
.mean-container a.meanmenu-reveal {
    border: 0 none;
    color: #00a859;
    margin-top: -56px;
    padding: 8px 0px;
    position: relative;
}
.mean-container a.meanmenu-reveal span {background-color: #00a859;}
.mean-container .mean-nav {
    margin-top: 0;
    position: absolute;
}
.header-sticky.sticky {
    -webkit-animation: 300ms ease-in-out 0s normal none 1 running fadeInDown;
    animation: 300ms ease-in-out 0s normal none 1 running fadeInDown;
    background: rgb(229, 79, 21) none repeat scroll 0 0;
    box-shadow: 0 0 9.9px 0.1px rgba(91, 91, 91, 0.2);
    left: 0;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9;
}
.sticky .main-menu > nav > ul > li {padding: 0;}
.sticky .main-menu > nav > ul > li > a {line-height: 70px;}
.sticky .logo {padding: 23px 0;}
.sticky .main-menu {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    margin-bottom: 0;
}
.sticky .header-btn {padding: 14px 0;}
.mainmenu-area .sticky {
    background: rgba(255, 255, 255, 0.8) none repeat scroll 0 0;
    box-shadow: 0 1px 3px rgba(50, 50, 50, 0.4)
}
.header-area .sticky .main-menu > nav > ul > li > a, .header-full-area .sticky .main-menu > nav > ul > li > a {
    line-height: 65px;
}
.header-bottom.header-sticky {
    box-shadow: 2px 2px 5px #a5a1a1;
}
.mobile-menu-area {
    background-color: #fff;
    display: block;
    height: 100%;
    left: 0;
    overflow-y: scroll;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999999;
}
.mobile-menu-area .menu-close {
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 50%;
    color: #858585;
    height: 40px;
    padding: 0;
    width: 40px;
	margin-bottom:30px;
}
.mobile-menu-area .menu-close:hover {color: #433a8b; border-color: #433a8b;}
.mobile-menu-area .menu-close i {
    display: block;
    font-size: 30px;
    line-height: 30px;
    padding-right: 2px;
}
.mean-container .mean-bar ul li a {color: #252525; font-size: 12px; line-height: 15px;}
.mean-container .mean-nav ul li a:hover {color: #00a859;}
.mean-nav ul li a i {display: none;}
.mean-container .mean-nav ul li a.mean-expand {font-weight: 400;}
.fixed {/*position: absolute;*/left: 0;width: 100%;z-index: 7;background: #fff;color: #fff;}
.search-form input {
    border: 0 none;
    color: #eee;
    font-size: 13px;
    height: 100%;
    padding-left: 11px;
}
.search-form button {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: #ffffff;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
}
.search-form {
    border-left: 2px solid #e51515;
    height: 25px;
    margin-top: 26px;
    position: relative;
    width: 287px;
}
.header-full-area .container-fluid {padding: 0 60px;}
.sticky .search-form {margin-top: 21px;}