<?php 
$tr = Application_Form_FrmLanguages::getCurrentlanguage();
?>
<title> <?php echo $this->ministerMessage['title'];?></title>
<section class="content">
			<div class="container container-content">
				<div class="row">
					<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
						<?php 
							echo $this->render('mobilelanguagemenu.phtml');
						?>
						
						<div class="home-breadcrum">
							<ul class="breadcrum-list">
								<li><a href="<?php echo $this->baseUrl();?>"><?php echo $tr->translate("HOME");?></a></li>
								<li><?php echo $this->ministerMessage['title'];?></li>
							</ul>
						</div>
						
						<div id="article-detail" class="mtb-10 pr-20 pl-20"> 
							<div class="article-detail" >
								<div class="row">
									
									<div class="col-sm-12 article-detail-contant">
										<div class="head-title pr-10 pt-10  pl-10 mb-10">
											<h4 class="ptb-10"> <?php echo $this->ministerMessage['title'];?></h4>
										</div>
									   <div class="article-detail-iteam">
										   <div class="ptb-10 ">
	                                			<?php echo $this->ministerMessage['description'];?>
										   </div>
									   </div>
									</div>
									<div class="clearfix"></div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
						<?php 
							echo $this->render('languagemenu.phtml');
							echo $this->render('banner.phtml');
						?>
					</div>
					<div class="clearfix"></div>
				
				</div>
			</div>
		</section>