<?php 
	$product = $this->product;
	$request=Zend_Controller_Front::getInstance()->getRequest();
	$session_lang=new Zend_Session_Namespace('lang');
	$currentlang = $session_lang->lang_id;
	$tr = Application_Form_FrmLanguages::getCurrentlanguage();
	//$base_url = Application_Form_FrmMessage::getUrl("/");


	
	$url="http://".$_SERVER['HTTP_HOST'].$_SERVER['REQUEST_URI'];
	$articless = $this->article;
?>
<title><?php echo $tr->translate("SEARCH");?></title>
<section class="content">
	<div class="container container-content">
		<div class="row">
			<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
				<?php 
						echo $this->render('mobilelanguagemenu.phtml');
					?>
				<div class="home-breadcrum">
					<ul class="breadcrum-list">
						<li><a href="<?php echo $this->baseUrl();?>"><?php echo $tr->translate("HOME");?></a></li>
						<li><?php echo $tr->translate("SEARCH");?></li>
					</ul>
				</div>
				
				
				<div id="news-events-list" class="mtb-10 pr-20 pl-20"> 
					<div class="news-events-list" >
						<div class="row">
							
							<div class="col-sm-12 news-contant">
								<div class="head-title pr-10 pt-10  pl-10 mb-10">
									<h4 class="ptb-10"><?php echo $tr->translate("SEARCH");?></h4>
								</div>
								<?php if(!empty($this->res)) {
									
									?>
								<div class="blog-article-list">
								 <?php  foreach($articless as $article){ ?>
									<div class="list">
										<div class="col-sm-4 blog-image">
											<a href="<?php echo $this->baseUrl()."/page/index?article=".$article['alias_article'].".html"; ?>">
												<?php 
												$images = $this->baseUrl()."/public/images/noimage.jpg";
												if(!empty($article['image_feature'])){
												$images= $this->baseUrl()."/public/images/article/".$article['image_feature'];
												}?>
												<img src="<?php echo $images;?>"/>
											</a>
										</div>
										<div class="col-sm-8 blog-post-text">
											<h4><a href="<?php echo $this->baseUrl()."/page/index?article=".$article['alias_article'].".html"; ?>"><?php echo $article['title'];?></a></h4>
											<p>
											<?php
												echo mb_substr(strip_tags($article['description']),0,100, "utf-8")."...";
											?>
											</p>
											<div class="readmore">
											<a href="<?php echo $this->baseUrl()."/page/index?article=".$article['alias_article'].".html"; ?>" ><span><?php echo $tr->translate("READ_MORE")?>...</span></a>
											</div>
										</div>
										<div class="clearfix"></div>
									</div>
									<?php }?>
								</div>
								<?php 
		                        if($this->countPages>1){ 
								 	$statpage = $this->currentPage - 5;
								 	$endpage = $this->currentPage + 5;
								 	if ($this->currentPage<=5){
								 		$statpage = 1;
								 		$endpage =10;
								 	}
		                        if (!empty($this->countPages)){
								 ?>
								<div class="pagination-wrapper text-center fix">
									<div class="pagination-content">
										<a class="ht-page <?php if($this->currentPage==1){ echo "active";}?>" href="<?php echo $this->baseUrl()."/index/search?search=".$this->param."&pages=".$this->previousPage;?>"><i class="fa fa-long-arrow-left" aria-hidden="true"></i></a>
										<ul class="pagination">
										 <?php  $i=0; for( $i=1; $i<=$this->countPages; $i++){?>
	           			 					<?php if ($statpage<=$i && $endpage>=$i){?>
											<li class="<?php if($i==$this->currentPage){ echo "active";}?>"><a href="<?php echo $this->baseUrl()."/index/search?search=".$this->param."&pages=".$i;?>"><?php echo $i;?></a></li>
                                                					<?php }}?>
										</ul>
										<a class="ht-page <?php if($this->countPages==$this->currentPage){ echo "active"; }?>" href="<?php echo $this->baseUrl()."/index/search?search=".$this->param."&pages=".$this->nextPage;?>"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
									</div>
								</div>
								 <?php }}?>
								 
								<?php }else{?>
								
								<div class="blog-article-no-article mtb-50 text-center">
									
									<h3><?php echo $tr->translate("RESULT_NOT_FOUND_FOR").' "<span class="italic">'.$this->parame.'</span>"';?></h3>
								</div>
								<?php }?>
							</div>
							<div class="clearfix"></div>
							
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
				<?php 
					echo $this->render('languagemenu.phtml');
					echo $this->render('banner.phtml');
				?>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</section>
						       
				