<?php
	$tr = Application_Form_FrmLanguages::getCurrentlanguage();
	echo $this->headTitle($tr->translate('EDIT_COMPANY'));
	$rsdata = $this->rs;
	$frm = $this->frm_company;
?>	
<script src="<?php echo $this->baseUrl();?>/public/js/help.js"  type="text/javascript"></script>
<script>
dojo.require("dojo.data.ItemFileWriteStore");  
dojo.require("dijit.form.DateTextBox");
dojo.require("dijit.form.CheckBox");
dojo.require("dijit.Dialog");
dojo.require("dijit.layout.TabContainer");
dojo.require("dijit.form.Textarea");
dojo.require("dojo.parser");
dojo.require("dojo.NodeList-manipulate");
</script>
<style>
	img.image_view {
	   width: 160px;
   	   height: 95px;
	}
img.image_viewss {
    width: 30%;
}
</style>
<script src="<?php echo $this->baseUrl();?>/public/ckeditor/ckeditor.js"></script>
<form id='company' action="" enctype="multipart/form-data" dojoType="dijit.form.Form" method="post">
<script type="dojo/method" event="onSubmit">			
			if(this.validate()) {
				loading();
				return true;
			} else {
				return false;
			}
</script>

<table  width="100%" style="margin-top:-5px;">
	<tr class="header">
		<td colspan="2"><strong><i class="fa fa-users" aria-hidden="true"></i><?php echo $tr->translate('EDIT_COMPANY')?></strong></td>
	</tr>
	<tr>
		<td style="max-width:1100px;border: solid 1px #eee;background: rgba(241, 241, 241, 0.2);">
		<table style="margin: 0 auto; width: 100%;">
			<tr>
				<td align="left" valign="top">
						<table style="margin: 0 auto; width: 100%;" cellspacing="10">
							<tr>
								<td><?php echo $tr->translate("Company Code")?></td>
								<td><?php echo $frm->getElement('company_code');?><input type="hidden" name="id" id="id" dojoType="dijit.form.TextBox"   value="<?php echo $this->rs['id'];?>" ></td>
							</tr>
							<tr>
								<td><?php echo $tr->translate("Company Name")?></td>
								<td><?php echo $frm->getElement('company_name');?></td>
							</tr>
							<tr>
								<td><?php echo $tr->translate("PHONE")?></td>
								<td><?php echo $frm->getElement('phone');?></td>
							</tr>
							<tr>
								<td><?php echo $tr->translate("ADDRESS")?></td>
								<td><?php echo $frm->getElement('address');?></td>
							</tr>
							<tr>
								<td><?php echo $tr->translate("Date Register")?></td>
								<td><?php echo $frm->getElement('date_register');?></td>
							</tr>
							<!-- <tr>
								<td><?php //echo $tr->translate("ស្ថាប័នក្រោមចំនុះ")?></td>
								<td>
									<select class="fullside" dojoType="dijit.form.FilteringSelect" name="department" id="department"  onChange="getDepartment"​​ autoComplete="false"​​ queryExpr="*${0}*">
										<?php //if(!empty($this->rsdepartment)){
												//foreach($this->rsdepartment as $rs){
										?>	
												<option value="<?php //echo $rs['id'];?>"><?php //echo $rs['name'];?></option>
										<?php //}}?>
									</select>
								</td>
							</tr> -->
							<tr>
								<td  ><?php echo $tr->translate("About Company")?></td>
								<!-- <td> 
								<input iconClass="dijitIconUndo" type="button" label="<?php //echo $tr->translate('REFRESH');?>" dojoType="dijit.form.Button" onclick="getRefreshGroup();"/>
								</td>-->
							</tr>
							 
							<tr>
								<td colspan="2">
									<?php echo $frm->getElement('note');?>
								</td>
							</tr>
						</table>
					</td>
					<td width="40%" style="background:#eaeaea; vertical-align: top;">
						<table style="margin: 0 auto; width: 100%;" cellspacing="10">
							<tr>
								<td><?php echo $tr->translate("COMPANYTYPE")?></td>
								<td><?php echo $frm->getElement('company_type');?></td>
							</tr>
							<tr>
								<td><?php echo $tr->translate("PRODUCT")?></td>
								<td><?php echo $frm->getElement('product_name');?></td>
							</tr>
							<tr>
								<td><?php echo $tr->translate("City_Province")?></td>
								<td>
									<?php echo $frm->getElement('province_id');?>
								</td>
							</tr>
							<tr>
								<td><?php echo $tr->translate("STATUS")?></td>
								<td>
									<?php echo $frm->getElement('status');?>
								</td>
							</tr>
							<tr>
								<td></td>
								<td style="text-align: center;background: #fff;">
									<?php if (!empty($rsdata['logo'])){?>
										<img class="image_viewss" id="image_view" src="<?php echo $this->baseUrl()."/public/companylogo/".$rsdata['logo'];?>" alt=""  />
									<?php }else{?>
										<img class="image_viewss" id="image_view" src="<?php echo $this->baseUrl().'/public/images/no-image.png';?>" alt=""  />
									<?php }?>
									<div class="button_browse">
										<input type="hidden" id="old_photo" name="old_photo" value="<?php echo $rsdata['logo'];?>">
										<span><?php echo $tr->translate("ឡូហ្គូក្រុមហ៊ុន/Logo")?> (jpg, .jpeg, .png)<span><i class="fa fa-camera" aria-hidden="true"></i></span></span>
										<input class="btn_borwse_image"  type="file" id="photo" name="photo" onchange="loadImagess()">
									</div>
								</td>
							</tr>
							<tr>
							<td colspan="2">
								<table id="table_parent" class="set-style" style="margin: 0 auto; width: 100%;  " >
										<thead>
											<tr>
												<td colspan="8">
													<table  style="margin: 0 auto; width: 100%; border-collapse: collapse; border: 1px #ccc solid;">
														<tr id="head-title" class="head-td" align="right"></tr>
													</table>
													<table id="table_row" style="margin: 0 auto; width: 100%; border-collapse: collapse; border: 1px #ccc solid;">
													</table>
												</td>
											</tr>
											<tr>
												<td align="left">
													<input type="button" label="<?php echo $tr->translate('ADD_MORE');?>" dojoType="dijit.form.Button" 
														 	iconClass="dijitIconEditProperty" onclick="addRow();" />
													<input type="hidden" name="identity" id="identity"  value="" >
												</td>
											</tr>
										</thead>
									</table>
							</td>
						</tr>
							
					</table>
				</td>
			</tr>
			
			<tr>
				<td colspan="2" align="center">
					<input type="reset" label="<?php echo $tr->translate('CLEAR');?>" dojoType="dijit.form.Button" iconClass="dijitIconClear" /> 
					<input type="submit" value="SAVE_NEW" tabindex="1" label="<?php echo $tr->translate('EDIT');?>" id="save_new" dojoType="dijit.form.Button" name="save_new"
						iconClass="dijitEditorIcon dijitEditorIconSave" />
				</td>
			</tr>
		</table>
			
		</td>
	</tr>
</table>	
</form>
<table>
<tr>
</tr>
</table>
<div class="dijitHidden">
	<div data-dojo-type="dijit.Dialog" data-dojo-props="title:'<?php echo $tr->translate("DO_YOU_WANT_TO_DEL")?>'"  id="deleteForm" style="width:350px;" >
		<div style=" text-align: center;">
			<h4><?php echo $tr->translate("DO_YOU_WANT_TO_DEL")?></h4>
			<input type="hidden" name="recorddelete" id="recorddelete" dojoType="dijit.form.TextBox" />
			<button onclick="closeForm();" dojoType="dijit.form.Button" showLabel="true" type="button"><?php echo $tr->translate("CANCEL");?></button>
			<button onclick="deleteRecord('',1);" iconclass="dijitIconDelete" dojoType="dijit.form.Button" showLabel="true" type="button"><?php echo $tr->translate("DELETE");?></button>
		</div>
	</div>
</div>
<script type="text/javascript">
//var district_store  = getDataStorefromJSON('id','name', <?php print_r(Zend_Json::encode(array()));?> );
dojo.ready(function(){	
	initailize();
	getCompanyTypeInfor();
	dijit.byId("province_id").attr("value",12);
});
function closeForm(){
	dijit.byId('deleteForm').hide();
}
function loadImagess(){
	 var output = document.getElementById('image_view');
	output.src = URL.createObjectURL(event.target.files[0]);
}
function deleteRecord(index,type=''){
	 if(type==''){
		 dijit.byId("recorddelete").attr('value',index);
		 dijit.byId('deleteForm').show();
	 }else{
		index = dijit.byId("recorddelete").get('value');
		var identity = $('#identity').val();
		var arrays = identity.split(',');
		for(var i=0;i<arrays.length;i++) {
		if(arrays[i] == index) arrays.splice(i,1);
		}
		var strings = arrays.join(',');
		$('#identity').val(strings);
		dojo.query("#row"+index).remove();
		dijit.byId('deleteForm').hide();
	 }
}
var col = 0;
var no = 0;
var title = 0;
func='';
tmp = '';
var temp='';
function addRow() {
		col++;no++;
		template='';
		var identity = $('#identity').val();
		var arrays = identity.split(',');
		if(arrays.length>=8){
			alert("<?php echo $tr->translate("Maximum File is only 8");?>");
			return false;
		}
		if(title!=1){
			temp+='<th><?php echo $tr->translate("ឯកសារច្បាប់");?> (jpg, .jpeg, .png)</th>';
			temp+='<th ><?php //echo $tr->translate("VALUE");?></th>';
			temp+='<th><?php //echo $tr->translate("DEL");?></th>';
			dojo.query("#head-title").append(temp);
			title=1;
		}
			template+='<td ><img class="image_view" id="image_view'+col+'" src="<?php echo $this->baseUrl().'/public/images/no-image.png';?>" alt=""  /></td>';
			template+='<td><div class="button_browse"><span>Upload <span><i class="fa fa-camera" aria-hidden="true"></i></span></span><input class="btn_borwse_image" accept=".jpg, .jpeg, .png" required="true" type="file" id="photo'+col+'" name="photo'+col+'" onchange="loadImage('+col+')"></div></td>';
			template+='<td width="3%" align="center" style="padding: 10px 25px;"><img onclick="deleteRecord('+col+')" src="<?php echo $this->baseUrl();?>/public/images/Delete_16.png"></td>';
		tmp='<tr id="row'+col+'" style="background: #fff;">';
		tmp+="</tr>";
		dojo.query("#table_row").append(tmp);
		if($("#identity").val()!='') {
			var identity = $("#identity").val();
			$("#identity").val(identity+','+col);
		} else {$("#identity").val(col);}
		dojo.html.set(dojo.byId("row"+col),template , {
		     parseContent: true,
		});
 }
 function loadImage(index){
	 var output = document.getElementById('image_view'+index);
    output.src = URL.createObjectURL(event.target.files[0]);
 }
 function initailize() {
		<?php for ($i=1;$i<=8;$i++){ 
			if(!empty($rsdata['file'.$i])){?>
		col++;no++;
		template='';
		if(title!=1){
			temp+='<th><?php echo $tr->translate("ឯកសារច្បាប់");?> (jpg, .jpeg, .png)</th>';
			temp+='<th ><?php //echo $tr->translate("VALUE");?></th>';
			temp+='<th><?php //echo $tr->translate("DEL");?></th>';
			dojo.query("#head-title").append(temp);
			title=1;
		}
			template+='<td ><input type="hidden" id="old_photo'+col+'" name="old_photo'+col+'" value="<?php echo $rsdata['file'.$i];?>"><img class="image_view" id="image_view'+col+'" src="<?php echo $this->baseUrl()."/public/companylogo/".$rsdata['file'.$i];?>" alt=""  /></td>';
			template+='<td><div class="button_browse"><span>Upload <span><i class="fa fa-camera" aria-hidden="true"></i></span></span><input class="btn_borwse_image" type="file" id="photo'+col+'" name="photo'+col+'" onchange="loadImage('+col+')"></div></td>';
			template+='<td width="3%" align="center" style="padding: 10px 25px;"><img onclick="deleteRecord('+col+')" src="<?php echo $this->baseUrl();?>/public/images/Delete_16.png"></td>';
		tmp='<tr id="row'+col+'" style="background: #fff;">';
		tmp+="</tr>";
		dojo.query("#table_row").append(tmp);
		if($("#identity").val()!='') {
			var identity = $("#identity").val();
			$("#identity").val(identity+','+col);
		} else {$("#identity").val(col);}
		dojo.html.set(dojo.byId("row"+col),template , {
		     parseContent: true,
		});
		<?php }
}?>
		title=1;
	}

// function getDepartment(){
	//	if( dijit.byId("department").get("value")==-1){
	//	    window.open("<?php echo $this->url(array('module'=>'department','controller'=>'index','action'=>'add')); ?>","_blank");
	//	}
//}

//function getRefreshGroup(){
	//	var co_store  = getDataStorefromJSON('id','name', <?php //print_r(Zend_Json::encode($this->rsdepartment));?> );
	//	getAllDepartment();
	//	loading();
	//	setTimeout(stopLoading, 1000);
//}

function loading(){
document.getElementsByClassName("overlay")[0].style.display="block";
}

function stopLoading(){
	 document.getElementsByClassName("overlay")[0].style.display="none";
}

//var url_department = '<?php echo $this->url(array('module'=>'company','controller'=>'index','action'=>'get-departmentname')); ?>';
//function getAllDepartment(){
	//dojo.xhrPost({
		//url:url_department,	
		//content:{ 
		//    //'branch_id':branch_id
	//	},		    
		//handleAs:"json",
		//load: function(data) {
		//	depart_store  = getDataStorefromJSON('id','name', data);		
		//    dijit.byId('department').set('store', depart_store);
		//},
		//error: function(err) {
		//	//alert(err);
	//	}
	//});
//}
var url_companytype = '<?php echo $this->url(array('module'=>'company','controller'=>'index','action'=>'getcompanytypeinfo')); ?>';
function getCompanyTypeInfor(){
	 company_type =  dijit.byId("company_type").get("value");
	 if(company_type==0){
		 return false;
	 }
		dojo.xhrPost({
			url: url_companytype,	
			content:{ 
			    'company_type':company_type
			},		    
			handleAs:"json",
			load: function(data) {
				//alert(data.type);
				if(data.type==1){
					dijit.byId('product_name').set('readonly',false); 
					dijit.byId('product_name').set('required',true);
					dijit.byId('product_name').disabled=false; 
				}else{
					dijit.byId('product_name').reset();
					dijit.byId('product_name').set('readonly',true); 
					dijit.byId('product_name').set('required',false);
					dijit.byId('product_name').disabled=true; 
				}
			},
			error: function(err) {
				//alert(err);
			}
		});
}	
</script>