<?php 
$db = new Application_Model_DbTable_DbGlobalSelect();
$bannerlist = $db->getWebsiteSetting("banner");
?>
<?php if (!empty($bannerlist)){ ?>
<div class="blog-advertise pt-20">
	<?php 
		foreach ($bannerlist as $rs){
		$target='';
		if($rs['option_link']==1){ $link = $this->baseUrl().'/banner/index/ads/'.base64_encode($rs['id']);}else{ $link =$rs['link']; $target = 'target="_blank"'; }
	?>
	<div class="row_advertise pb-20"> 
		<a href="<?php echo $link;?>" <?php echo $target;?> >
		<img src="<?php echo $this->baseUrl()."/public/images/banner/".$rs['image']?>" class="ad_img" />
		</a>
	</div>
	<?php }?>
</div>
<?php }?>