<?php 
$db = new Application_Model_DbTable_DbGlobalSelect();
$tr = Application_Form_FrmLanguages::getCurrentlanguage();
?>
<div id="blog-facebook-home" class="mtb-10"> 
							<div class="blog-facebook-home mb-20" >
								<div class="row">
									<div class="col-sm-12 blog-facebook-home-contant">
										<div class="head-title mb-10 pr-10 pl-10">
											<h4 class="ptb-10"><?php echo $tr->translate("Count Visitor");?></h4>
										</div>
<div class="amount">
<a href="https://www.freecounterstat.com" title="web counter"><img src="https://counter5.wheredoyoucomefrom.ovh/private/freecounterstat.php?c=pd82p1ru16nlcw5w4lrpz29aegc5pmxh" border="0" title="web counter" alt="web counter"></a>
</div>
<div class="flage-counvisitor"><a href="https://info.flagcounter.com/VOif"><img src="https://s01.flagcounter.com/count2/VOif/bg_FFFFFF/txt_000000/border_CCCCCC/columns_4/maxflags_12/viewers_0/labels_0/pageviews_0/flags_0/percent_0/" alt="Flag Counter" border="0"></a></div>
									
									</div>
								</div>
							</div>
						</div>