<?php
$vdgb = new Application_Model_DbTable_DbVdGlobal();
$alllang =  $vdgb->getLaguage();
$tr = Application_Form_FrmLanguages::getCurrentlanguage();

$request=Zend_Controller_Front::getInstance()->getRequest();
$param = $request->getParams();

?>
	<div class="home-lang web">
		<ul class="lang-list">
			<li><a href="<?php  echo $this->url(array('module'=>'','controller' => 'index','action' => 'feedback'));?>"><span><i class="fa fa-envelope" aria-hidden="true"></i></span>&nbsp;<?php echo $tr->translate("Message Box");?>&nbsp;</a></li>
			 <?php if (!empty($alllang)) foreach ($alllang as $ll){?>
			<li><a href="javascript:;" onclick="changeLange('<?php echo $ll['id'];?>');"><img src="<?php echo $this->baseUrl()."/public/images/lang/".$ll['iconImage'];?>" />&nbsp;<?php echo $tr->translate(strtoupper($ll['title']));?>&nbsp;</a></li>
			<?php }?>
		</ul>
	</div>
	<div class="blog-right-search web text-center">
		<div class="input-group seachbox">
			<form class="form-general-search" action="<?php echo $this->baseUrl()."/index/search"?>" method="get">
			<input type="text" class="form-control" value="<?php if(!empty($param['search'])){ echo $param['search'];}?>" name="search" placeholder="<?php echo $tr->translate("SEARCH");?>..." aria-describedby="button-addon2">
			<div class="input-group-append">
			  <button class="btn btn-primary" type="submit"><i class="icon-magnifier"></i></button>
			</div>
			</form>
		  </div>
	</div>