<?php 
$tr = Application_Form_FrmLanguages::getCurrentlanguage();
echo $this->headTitle($tr->translate("DEPARTMENT_LIST"));
$frm = $this->frm_company;
$frms = $this->frm_search;
$url_delete ="";//$this->url(array('module'=>'menu-manager','controller'=>'category','action'=>'delete'));
?>
<script>
	dojo.require("dijit.form.DateTextBox");
</script>
 <form id="list" name="list" action="" dojoType="dijit.form.Form" method="post">
   <table width="70%">
   <tr>
		<td><input placeHolder="" value="<?php echo $this->rssearch['txt_search'];?>" dojoType="dijit.form.TextBox" class="fullside" name="txt_search" id="txt_search" type="text"><td>
		<td><?php echo $frm->getElement('company_type_search');?></td>
		<td><?php echo $frm->getElement('product_search');?></td>
		<td><select class="fullside" name="province_id" id="province_id" dojoType="dijit.form.FilteringSelect" autoComplete="false"​​ queryExpr="*${0}*">
				<option value="-1">ជ្រើសរើស រាជធានី/ខេត្ត</option>
				<?php if(!empty($this->rsprovince)){
						foreach($this->rsprovince as $rs){
				?>	
						<option <?php if($this->rssearch['province_id']==$rs['id']){echo "selected";}?> value="<?php echo $rs['id'];?>"><?php echo $rs['name'];?></option>
				<?php }}?>
			</select></td>
		<td><button iconclass="dijitIconSearch" dojoType="dijit.form.Button" showLabel="true" type="submit"><?php echo $tr->translate("SEARCH");?></button>
   		</td>
   </tr>
</table>
</form>
<?php echo $this->list;?>
<script type="text/javascript">
dojo.require("dijit.form.CheckBox"); 
dojo.require("dijit.form.NumberTextBox");
dojo.require("dijit.form.Textarea");
dojo.require("dijit.form.DateTextBox");
dojo.require("dijit.Dialog");
	var recordid ='';
	function  resetForm(){
		var datenow = '<?php echo date("Y-m-d");?>';
		dijit.byId('adv_search').attr('value','');
		dijit.byId('status_search').set('value','-1');
	}
	function deleteRecord(url){
		 id = recordid;
		 window.location.href = url+'/id/'+id;
	}
	function showDeleteForm(id){
		if(id==''){
			alert("No record selected for delete.");
			dijit.byId('deleteForm').hide();
		}else{
			dijit.byId('deleteForm').show();
			recordid = id;
		}
	}
	function closeForm(){
		dijit.byId('deleteForm').hide();
	}
	var url_companytype = '<?php echo $this->url(array('module'=>'company','controller'=>'index','action'=>'getcompanytypeinfo')); ?>';
	function getCompanyTypeInfor(){
		 company_type =  dijit.byId("company_type_search").get("value");
		 if(company_type==0){
			 return false;
		 }
			dojo.xhrPost({
				url: url_companytype,	
				content:{ 
				    'company_type':company_type
				},		    
				handleAs:"json",
				load: function(data) {
					//alert(data.type);
					if(data.type==1){
						dijit.byId('product_search').set('readonly',false); 
						dijit.byId('product_search').set('required',true);
						dijit.byId('product_search').disabled=false; 
					}else{
						dijit.byId('product_search').reset();
						dijit.byId('product_search').set('readonly',true); 
						dijit.byId('product_search').set('required',false);
						dijit.byId('product_search').disabled=true; 
					}
				},
				error: function(err) {
					//alert(err);
				}
			});
	}	
</script> 
<div class="dijitHidden">
	<div data-dojo-type="dijit.Dialog" data-dojo-props="title:'តើអ្នកពិតជាលុបទិន្នន័យនេះមែនទេ?'"  id="deleteForm" style="width:350px;" >
		<div style=" text-align: center;">
			<h4>តើអ្នកពិតជាលុបទិន្នន័យនេះមែនទេ?</h4>
			<button onclick="deleteRecord('<?php echo $url_delete;?>')" iconclass="dijitIconDelete" dojoType="dijit.form.Button" showLabel="true" type="button"><?php echo $tr->translate("DELETE");?></button>
			<button onclick="closeForm();" dojoType="dijit.form.Button" showLabel="true" type="button"><?php echo $tr->translate("CANCEL");?></button>
		</div>
	</div>
</div>