<?php
$tr = Application_Form_FrmLanguages::getCurrentlanguage();
$this->headTitle($tr->translate('ADD_BANNER')); 
echo $this->headTitle();
$frm = $this->frm;
$countlang = count($this->lang);
?>
<script type="text/javascript">	
	dojo.require("dijit.form.ValidationTextBox");
	dojo.require('dijit.form.Form');	
	dojo.require('dijit.form.Button');
	dojo.require('dijit.form.FilteringSelect');
	dojo.require("dijit.Dialog");
	dojo.require("dijit.form.Textarea");
	
	
</script>
<style>
.choose_file{
    position: relative;
    display: inline-block;
    border-radius: 8px;
    border: #b1badf solid 1px;
    width: 100%;
    padding: 4px 6px 4px 8px;
    font: normal 14px Myriad Pro, Verdana, Geneva, sans-serif;
    color: #7f7f7f;
    margin-top: 2px;
    background: #edf7f8;
}
.choose_file input[type="text"]{
    -webkit-appearance:none; 
    position:absolute;cursor: pointer;
    top:0; right:0;    width: 100%;
    opacity:0; 
}

	img.image_view {
	   width: 160px;
   	   height: 95px;
	}
img.image_viewss {
    width: 30%;
}
</style>
<script src="<?php echo $this->baseUrl();?>/public/ckeditor/ckeditor.js"></script>

<form action="" dojoType="dijit.form.Form" method="post" enctype="multipart/form-data">
	<script type="dojo/method" event="onSubmit">				
			if(this.validate()) {
				
				loading();
				return true;
			}

			return false;
	</script>
		
	<table style="margin: 0 auto; width: 100%">
		<tr class="header">
				<td><strong><i class="fa fa-cubes" aria-hidden="true"></i><?php echo $tr->translate('ADD_BANNER')?></strong></td>
			</tr>
		<tr>
			<td>
					<table  width="100%">
						<tr>
							<td align="left" valign="top" width="70%">
								<table cellspacing="5" width="100%">
								<tr>
									<td  class="bold"><?php echo $tr->translate('TITLE')?></td>
									<td  ><?php echo $frm->getElement('title');?></td>
									</tr>
									<tr>
												<td  class="bold" style="width:110px"><?php echo $tr->translate('DESCRIPTION')?></td>
												<td>
													<?php echo $frm->getElement('description');?>
												</td>
											</tr>
										
								</table>
							
					</td>
							<td width="30%" class="blog-right">
								<table cellspacing="5" width="100%">
									<tr>
										<td><label id="message" style="color: red;"></label>
										<?php echo $frm->getElement('title_alias');?></td>
									</tr>
									<tr>
										<td  class="bold"><?php echo $tr->translate('OPTION_LINK')?></td>
									</tr>
									<tr>
										<td><?php echo $frm->getElement('option_link');?></td>
									</tr>

									<tr>
										<td  class="bold"><?php echo $tr->translate('LINK')?></td>
									</tr>
									<tr>
										<td><?php echo $frm->getElement('link');?></td>
									</tr>


									<tr><td  class="bold"><?php echo $tr->translate('STATUS')?></td></tr>
									<tr>
										<td><?php echo $frm->getElement('status');?></td>
									</tr>
									
								<tr>
								
								<td style="text-align: center;background: #fff;">
									<img class="image_viewss" id="image_view" src="<?php echo $this->baseUrl().'/public/images/no-image.png';?>" alt=""  />
									<div class="button_browse">
										<span><?php echo $tr->translate("BANNER")?> Size 360X200 (jpg, .jpeg, .png)<span><i class="fa fa-camera" aria-hidden="true"></i></span></span>
										<input class="btn_borwse_image"  type="file" id="photo" name="photo" onchange="loadImagess()">
									</div>
								</td>
							</tr>

								</table>
							</td>								
						</tr>
						<tr>
							<td colspan="2" align="center">
								<input type="button" value="GO_BACK" label="<?php echo $tr->translate('GO_BACK');?>" id="back" dojoType="dijit.form.Button" 
									iconClass="dijitIconUndo" onclick="window.history.back();" />
								<input class="button_success" type="submit" value="save_close" name="save_close" label="<?php echo $tr->translate('SAVE_CLOSE');?>" id="save_close" dojoType="dijit.form.Button"  iconClass="dijitEditorIcon dijitEditorIconSave"/> 	
								<input class="button_success" type="submit" value="save_new" name="save_new" label="<?php echo $tr->translate('SAVE_NEW');?>" id="save_new" dojoType="dijit.form.Button"  iconClass="dijitEditorIcon dijitEditorIconSave"/> 							
							</td>
						</tr>
					</table>	
			</td>			
		</tr>
	</table>	
	<input type="hidden" id="agent" name="agent" value="0" />	
</form>
<div class="dijitHidden">
	<div data-dojo-type="dijit.Dialog" data-dojo-props="title:'Directory'"  id="directory" style="width:850px; height:250px; overflow-y: auto;" >
		<div id="block_all_image" style=" text-align: center;">
			<?php
			$dir=opendir(PUBLIC_PATH.DIRECTORY_SEPARATOR."images".DIRECTORY_SEPARATOR."directory");
				while(@$entitys=readdir($dir))
				{
					$arraydir[]=$entitys;
				}
				closedir($dir);
				$contarray=count($arraydir);
				for($all=0;$all<$contarray;$all++){
				if($arraydir[$all] !=='..' and $arraydir[$all]!=="." ){
				$type=@filetype($arraydir[$all]);
				$file_parts = pathinfo($arraydir[$all]);
					if(empty($file_parts['extension']))
					{?>
					<div onClick="loadImageFromDirectory('<?php echo $arraydir[$all];?>');" class='blockimagelink'style="cursor: pointer; display: inline-block;border: solid 1px #ccc;text-align: center;padding: 10px;width: 100px;">
						<img style=" width: 55px; height: 52px;" src='<?php echo $this->baseUrl()."/images/folder.png";?>' width='30px' />
						<p><?php echo $arraydir[$all];?></p>
					</div>
				<?php }
					else{
				?>
					<div onClick="getImageLink('<?php echo $arraydir[$all];?>');" class='blockimagelink'style="cursor: pointer; display: inline-block;border: solid 1px #ccc;text-align: center;padding: 10px;width: 100px;">
							<img style=" height: 50px;border:1px solid #ccc;" title="<?php echo $arraydir[$all];?>" src="<?php echo $this->baseUrl()."/images/directory/".$arraydir[$all];?>" />
							<p><?php echo substr($arraydir[$all],0,15);?></p>
					</div>	
				<?php	}    
		          }
		        }
			?>
		</div>
	</div>
</div>
<script>
dojo.ready(function(){
	change_link();
	$(window).keydown(function(event){
		if(event.keyCode == 13) {
		  event.preventDefault();
		  return false;
		}
	  });
});
function loading(){
    document.getElementsByClassName("overlay")[0].style.display="block";
}

function loadImagess(){
	 var output = document.getElementById('image_view');
	output.src = URL.createObjectURL(event.target.files[0]);
}

function change_link(){
	option_link = dijit.byId('option_link').get('value');
	 if(option_link==2){
	   	dijit.byId('link').set('readonly',false); 
	  	dijit.byId('link').disabled=false; 
	  	dijit.byId('link').set('required',true);
	 }else{
		  dijit.byId('link').set('readonly',true); 
		  dijit.byId('link').disabled=true; 
		  dijit.byId('link').set('required',false);
	 		dijit.byId('link').set('value',"");
	 }
}
</script>
