<?php
	$tr = Application_Form_FrmLanguages::getCurrentlanguage();
	echo $this->headTitle($tr->translate('EDIT_DOCUMENT'));
	$rsdata = $this->rs;
?>	
<?php  $frm = $this->frm_client;?>
<script src="<?php echo $this->baseUrl();?>/public/js/help.js"  type="text/javascript"></script>
<script>
dojo.require("dojo.data.ItemFileWriteStore");  
dojo.require("dijit.form.DateTextBox");
dojo.require("dijit.form.Textarea");
</script>
<style>
label.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}
input[type="file"] {
    display: none;
}
span#fileName {
    max-width: 130px;
    white-space: normal;
    overflow: hidden;
    display: inline-block;
}
</style>
<form id='company' action="" enctype="multipart/form-data" dojoType="dijit.form.Form" method="post">
	<script type="dojo/method" event="onSubmit">			
			if(this.validate()) {
				return true;
			} else {
				return false;
			}
	</script>
	<table  width="100%" style="margin-top:-5px;">
		<tr class="header">
			<td colspan="2"><strong><i class="fa fa-users" aria-hidden="true"></i><?php echo $tr->translate('EDIT_DOCUMENT')?></strong></td>
		</tr>
		<tr>
			<td style="border: solid 1px #eee;background: rgba(241, 241, 241, 0.2);">
			<table style=" width: 50%;">
				<tr>
					<td align="left" valign="top">
							<table style="margin: 0 auto; width: 100%;" cellspacing="10">
								<tr>
									<td><?php echo $tr->translate("SPEECH_NAME")?></td>
									<td><input dojoType="dijit.form.ValidationTextBox" required="1" class="fullside" name="document_name" id="document_name" value="<?php echo $this->rs['title'];?>" type="text"></td>
								</tr>
								<tr>
									<td><?php echo $tr->translate("DATE")?></td>
									<td><input dojoType="dijit.form.DateTextBox" constraints="{datePattern:'dd/MM/yyyy'}" class="fullside" name="date_register" id="date_register" value="<?php echo date("Y-m-d",strtotime($this->rs['fordate']));?>" type="text"></td>
								</tr>
								<tr>
									<td><?php echo $tr->translate("Description")?></td>
									<td>
										<textarea class="fullside" name="note" id="note" style="height: 150px;overflow-x:hidden;font-family:'khmer os battambang'; font-size: 14px; "><?php echo $this->rs['note'];?></textarea>
									</td>
								</tr>
								<tr>
									<td><?php echo $tr->translate("File")?></td>
									<td>
										<label for="document" class="custom-file-upload">
										    <i class="fa fa-cloud-upload"></i> <span id="fileName">file Upload</span>
										</label>
										<input class="fullside" name="document" id="document" type="file" accept=".jpg, .jpeg, .png, .pdf, .doc, .docx">
										<input class="fullside" name="old_document" id="old_document" type="hidden" value="<?php echo $this->rs['file_name'];?>" >
									</td>
								</tr>
								<tr>
									<td><?php echo $tr->translate("STATUS")?></td>
									<td>
										<select name="status" id="status" dojoType="dijit.form.FilteringSelect" required="true" class="fullside" autoComplete="false"​​ queryExpr="*${0}*">
										    <option value="1" <?php if($this->rs['status']==1){echo"selected";} ?>><?php echo $tr->translate("ACTIVE")?></option>
										    <option value="0" <?php if($this->rs['status']==0){echo"selected";} ?>><?php echo $tr->translate("DEACTIVE")?></option>
										</select>
									</td>
								</tr>
								<tr>
									<td colspan="2" align="center">
										<input type="reset" label="<?php echo $tr->translate('CLEAR');?>" dojoType="dijit.form.Button" iconClass="dijitIconClear" /> 
										<input type="submit" value="SAVE_CLOSE" tabindex="1" label="<?php echo $tr->translate('SAVE_CLOSE');?>" id="save_close" dojoType="dijit.form.Button" name="save_close"
											iconClass="dijitEditorIcon dijitEditorIconSave" />
									</td>
								</tr>
							</table>
						</td>
				</tr>
			</table>
			</td>
		</tr>
	</table>
</form>
<table>
<tr>
</tr>
</table>
<script type="text/javascript">
$(document).ready(function(){
	$('input[type="file"]').change(function(e){
        var fileName = e.target.files[0].name;
        $("#fileName").html(fileName);
    });
});
var district_store  = getDataStorefromJSON('id','name', <?php print_r(Zend_Json::encode(array()));?> );
dojo.ready(function(){	
	dijit.byId("province_id").attr("value",12);
});

function getPopupDoc(){
	if(block_id=dijit.byId("document_type").get("value")==-1){
		 dijit.byId('pop_frmpopupdoc').show();
	}
}
</script>
<div class="dijitHidden">
	<div data-dojo-type="dijit.Dialog" data-dojo-type="dijit.Dialog" id="pop_frmpopupdoc" >
		<form id='frm_popupdoc'  name='frm_popupdoc'  dojoType="dijit.form.Form" method="post" enctype="application/x-www-form-urlencoded">
		 <table cellspacing="10" width="70%" style="margin: 0 auto; ">
			<tr>
				<td>
					<fieldset>
						<legend align="center" ><strong style="font-size: 18px;"><?php echo $tr->translate("ADD_DOCUMENT")?></strong></legend>
						<table style="margin: 0 auto; width: 100%;text-align: right;" cellspacing="10"  >
						    <tr>
								<td nowrap="nowrap"><?php echo $tr->translate("ប្រភេទឯកសារមេ")?></td>
								<td>
									<select class="fullside" dojoType="dijit.form.FilteringSelect" name="document_types" id="document_types" autoComplete="false"​​ queryExpr="*${0}*">
										<?php if(!empty($this->document_types)){
												foreach($this->document_types as $rs){
										?>	
												<option value="<?php echo $rs['id'];?>"><?php echo $rs['title'];?></option>
										<?php }}?>
									</select>
								</td>
							</tr>
							<tr>
								<td><?php echo $tr->translate("ឈ្មោះឯកសារ")?></td>
								<td><input dojoType="dijit.form.ValidationTextBox" required="1" class="fullside" name="document_typekh" id="document_typekh" type="text"></td>
							</tr>
							<tr>
								<td><?php echo $tr->translate("ឈ្មោះឯកសារ")?></td>
								<td><input dojoType="dijit.form.ValidationTextBox" required="1" class="fullside" name="document_typeen" id="document_typeen" type="text"></td>
							</tr>
							<tr>
								<td nowrap="nowrap"><?php echo $tr->translate("STATUS")?></td>
								<td>
									<select name="block_status" id="block_status" dojoType="dijit.form.FilteringSelect" autoComplete="false"​​ queryExpr="*${0}*">
									    <option value="1" label="ប្រើប្រាស់">ប្រើប្រាស់</option>
									    <option value="0" label="មិនប្រើប្រាស់">មិនប្រើប្រាស់</option>
									</select>
								</td>
							</tr>
							<tr>
								<td colspan="4" align="center" style="padding-left:40px;">
									<input iconClass="dijitIconClear" type="reset" value="clear" label="<?php echo $tr->translate('CLEAR');?>" dojoType="dijit.form.Button"/>
									<input type="button" value="btn_save_close" name="btn_save_close" label="<?php echo $tr->translate('SAVE_CLOSE');?>" dojoType="dijit.form.Button" 
										onclick="addNewDoc();" iconClass="dijitEditorIcon dijitEditorIconSave" />
								</td>
							</tr>
						</table>	
					</fieldset>		
				</td>
			</tr>
		</table>
		</form>
	</div>
</div>