<?php 
$request=Zend_Controller_Front::getInstance()->getRequest();
$action=$request->getActionName();
$controller=$request->getControllerName();
$module=$request->getModuleName();

	$session_lang=new Zend_Session_Namespace('lang');
	$currentlang = $session_lang->lang_id;
	$tr = Application_Form_FrmLanguages::getCurrentlanguage();
	$db = new Application_Model_DbTable_DbGlobalSelect();
	$row = $db->getWebsiteSetting('logo');
	$email = $db->getWebsiteSetting('email');
	$tel = $db->getWebsiteSetting('tel');
	$address = $db->getWebsiteSetting('address');
	$facebook = $db->getWebsiteSetting('facebook');
	$youtube = $db->getWebsiteSetting('youtube');
	$twitter = $db->getWebsiteSetting('twitter');
	$googleplus = $db->getWebsiteSetting('googleplus');
	
	$vdgb = new Application_Model_DbTable_DbVdGlobal();
	$alllang =  $vdgb->getLaguage();
	
?>
<!-- Footer Area Start -->
        <footer class="footer-area pt-20">
			
            <div class="footer-top">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="single-footer-widget blogfooter">
                                <div class="footer-info-wrapper">
									<h2 class="pb-35 footertitle moul"><?php echo $tr->translate("COMPANY_NAME");?></h2>
                                    <div class="f-info">
                                        <span class="f-info-text"><?php echo $address['value'];?></span>
										<br />
										<span class="f-info-text"><?php echo $tr->translate("PHONE");?> <?php echo $tel['value'];?></span>
										<br />
										<span class="f-info-text"><?php echo $tr->translate("EMAIL");?> <?php echo $email['value'];?></span>
										<br />
                                    </div>
                                </div>
								<div class="blog-social">
									<ul>
										<?php if (!empty($facebook['value'])){?>
										<li class="social-list "><a target="_blank" href="<?php echo $facebook['value'];?>"class="facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
										<?php }?>
										<?php if (!empty($twitter['value'])){?>
										<li class="social-list "><a target="_blank" href="<?php echo $twitter['value'];?>"class="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
										<?php }?>
										<?php if (!empty($youtube['value'])){?>
										<li class="social-list "><a target="_blank" href="<?php echo $youtube['value'];?>"class="youtube"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
										<?php }?>
										<?php if (!empty($youtube['value'])){?>
										<li class="social-list "><a target="_blank" href="<?php echo $youtube['value'];?>"class="linkedin"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
										<?php }?>
									</ul>
								</div>                         
                            </div>
                        </div>
                       <div class="col-md-2 col-sm-12 col-xs-12">
                         <span class="f-info-text"​ style="color:#fff"><?php echo $tr->translate("Please comment by click the button below");?></span>
                        <a href="<?php  echo $this->url(array('module'=>'','controller' => 'index','action' => 'feedback'));?>"><img src="<?php echo $this->baseUrl()."/public/images/feedback.gif"?>" /><h4 class="pb-35 footertitle moul" style="color:#fff;">
                        <?php echo $tr->translate("Expression");?></h4></a>
                      
                        </div>
						 <div class="col-md-4 col-sm-12 col-xs-12">
							<div class="google_map_footer">
								<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3908.758825074724!2d104.9219656143588!3d11.569139391786564!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31095146f5d995c3%3A0xbf0ba2f6371f2ad6!2sMinistry+of+Industry+and+Handicraft!5e0!3m2!1sen!2skh!4v1520666321054" width="600" height="450" frameborder="0" style="border:0" allowfullscreen=""></iframe>
							</div>
						 </div>
						 <div class="clearfix"></div>
                    </div>
                </div>
            </div>
			<div class="clearfix"></div>
            <div class="footer-bottom pt-10">
				 <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
							<div class="footer-border">
								<span class="f-info-text">&copy; 2018 <?php echo $tr->translate("COMPANY_NAME All rights reserved")." ".$tr->translate("");?> </span>
							</div>
						</div>
					</div>
				</div>
            </div>
           <div style="height: 38px;"></div>
        </footer>
         <div class="marquee-footer">
         	<div class="container">
	         <div class="row">
	         <marquee behavior="scroll" direction="left" onmouseout="this.start()" onmouseover="this.stop()" >
	         
	         <?php 
		         $db = new Application_Model_DbTable_DbVdGlobal();
		         $hotnews = $db->getHotNewhomepage();
		         if(!empty($hotnews)){
		         	foreach($hotnews as $rs){
	         ?>
	         	<img style="max-height: 32px;" src="<?php echo $this->baseUrl()."/public/images/announcement.png";?>" /><a href="<?php echo $rs['url'];?>" target="_blank"><?php echo $rs['title'];?></a>
	         <?php }}?>
	         </marquee>
	          </div>
	         </div>
         </div>
		<!-- All js here -->
        <script src="<?php echo $this->baseUrl()."/public/templates/";?>js/vendor/jquery-1.12.4.min.js"></script>
        <script src="<?php echo $this->baseUrl()."/public/templates/";?>js/bootstrap.min.js"></script>
        <script src="<?php echo $this->baseUrl()."/public/templates/";?>js/owl.carousel.min.js"></script>
        <script src="<?php echo $this->baseUrl()."/public/templates/";?>js/jquery.meanmenu.js"></script>
        <script src="<?php echo $this->baseUrl()."/public/templates/";?>js/slick.min.js"></script>
        <script src="<?php echo $this->baseUrl()."/public/templates/";?>js/isotope.pkgd.min.js"></script>
        <script src="<?php echo $this->baseUrl()."/public/templates/";?>js/imagesloaded.pkgd.min.js"></script>	
        <script src="<?php echo $this->baseUrl()."/public/templates/";?>js/ajax-mail.js"></script> 
        <script src="<?php echo $this->baseUrl()."/public/templates/";?>js/plugins.js"></script>
        <script src="<?php echo $this->baseUrl()."/public/templates/";?>js/main.js"></script>
		
		
		<script src="<?php echo $this->baseUrl()."/public/templates/";?>js/select2.min.js"></script>
		<script>
		$(document).ready(function() {
		
			  $(".js-select2").select2({
			  placeholder: "",
			 
			});
		
		});
		 $(window).scroll(function () {
			var scrollAmount = $(window).scrollTop();
			var headertop = $('.header-top').height()+25;
		
			scrollAmount = Math.round(scrollAmount);
			if ($(window).scrollTop()>=headertop ) {
				$('.header-bottom').addClass('navigation-fix-to-top');
				$('.header_blank').addClass('hight100');
					
			} else {
				$('.header-bottom').removeClass('navigation-fix-to-top');
				$('.header_blank').removeClass('hight100');
			}
		});
		</script>
		<div id="fb-root"></div>
		<script>(function(d, s, id) {
		  var js, fjs = d.getElementsByTagName(s)[0];
		  if (d.getElementById(id)) return;
		  js = d.createElement(s); js.id = id;
		  js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0&appId=182875675833257&autoLogAppEvents=1';
		  fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));</script>
    </body>
</html>

