<?php 
	$tr=Application_Form_FrmLanguages::getCurrentlanguage();
	$base_url = Application_Form_FrmMessage::getUrl("/");
	$request=Zend_Controller_Front::getInstance()->getRequest();
	$action=$request->getActionName();
	$controller=$request->getControllerName();
	$module=$request->getModuleName();
	
	$session_user=new Zend_Session_Namespace('auth');
	$username = $session_user->first_name;
	$them_style = 'soria'; //$session_user->theme_style;
	
	$session_lang=new Zend_Session_Namespace('lang');
	
	$lang_id = $session_lang->lang_id;//for creat session
	
	if(empty($lang_id)){
		
		$session_lang->lang_id=2;
	}
?>
<?php if($module!='default'){
	?>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
	<meta name="apple-mobile-web-app-capable" content="yes" />
<?php if($module!='home'){ 
	$session_user=new Zend_Session_Namespace('auth');
	if (empty($session_user->user_id)){
		Application_Form_FrmMessage::redirectUrl("/");
	}
	?>
<?php }?>
	<link href="<?php echo $this->baseUrl()."/public/datatable/bootstrap.min.css"?>" media="screen" rel="stylesheet" type="text/css">
	 <link href="<?php echo $this->baseUrl()?>/public/assets/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />
   <link href="<?php echo $this->baseUrl()?>/public/assets/font-awesome-4.7.0/css/font-awesome.css" rel="stylesheet" />

	<link rel="stylesheet" href="<?php echo $base_url;?>public/css/template.css"/>
	<link href="<?php echo $base_url;?>public/cssmenu/template.css" media="screen" rel="stylesheet" type="text/css">
	<!-- table  -->
	<?php //if($action=='index'){ ?>
   <script src="<?php echo $this->baseUrl()."/public/datatable/1.11.3/"?>jquery.min.js"></script>
   	<?php if ($action=="index" AND $module !="home"){?>
   	
	<link href="<?php echo $this->baseUrl()."/public/datatable/"?>datatables.min.css" rel="stylesheet" type="text/css" />
    <link href="<?php echo $this->baseUrl()."/public/datatable/"?>responsive.dataTables.min.css" rel="stylesheet" type="text/css" />
    <script src="<?php echo $this->baseUrl()."/public/datatable/"?>datatables.min.js" type="text/javascript"></script>
    <script src="<?php echo $this->baseUrl()."/public/datatable/"?>dataTables.responsive.min.js" type="text/javascript"></script>
    <script>
    $(document).ready(function() {
        $('#datatable-responsive').DataTable( {
        	responsive: true,
       	 "dom": '<"top"i>rt<"bottom"flp><"clear">',
        	searching: false,
        } );
    } );
    </script>
	<?php }?>	
	<?php if($module!='home'){?>
		<script src="<?php echo $base_url;?>public/js/dojo-1.6.1/dojo/dojo.js"  djConfig="isDebug: true,parseOnLoad: true"></script>
		<script>dojoConfig = {parseOnLoad: true}</script>
	    <script>
			require(["dijit/form/Form","dijit/form/FilteringSelect","dijit/form/Button"]);
      </script>
	<link rel="stylesheet" type="text/css" href="<?php echo $base_url;?>public/js/dojo-1.6.1/dijit/themes/<?php echo $them_style."/".$them_style?>.css" />
	<?php }?>
	<link rel="shortcut icon" href="<?php echo $base_url;?>public/images/icon.ico" type="image/x-icon"/>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">	
	<style type="text/css">
	*{ padding:0;margin:0;}
        html, body { width: 100%; height: 100%; margin: 0; }
		.btn{
			height: 40px;
			min-width: 100px;	
		}
		.add-link{  
				    background-color: #000088;
			  width: 90px;
			 /* margin-top: 2px;*/
			 padding: 2px;
			  color: #fff;
			  text-align: center;
			  font-size: 13px;
			  font-weight: 600;}
		.fullside{ width:98%; height: 30px;}
		.full{ width:100%;}
		body, html {font-size:96%; 
		font-family: sans-serif,'Times New Roman','khmer os battambang','Kh Battambang','Khmer Battambang',Arial,Helvetica;
		}
		.normal,.alternate{ font-size:90% !important;}
		*{ padding: 0; margin: 0;}
		fieldset{ font-family: inherit;}
		.border{ border: 1px solid #ccc; height: 100%; margin: 5px; padding: 5px;}
        .border1{ border: 1px solid #ccc; height: 100%; margin: 5px; margin-left:0px; padding: 5px;}
		table#datatable-responsive tr td a {
		    color: #337ab7;
		}
		#menu a {
		    -webkit-box-sizing: content-box;
		    -moz-box-sizing: content-box;
		    box-sizing: content-box;
		}
		ul li {
		    list-style-type: none;
		}
td.items {
    max-width: 160px;
    white-space: normal;
    overflow: hidden;
}
	</style>	
	
</head>
    <body class="<?php echo $them_style;?>" >
            <table width="100%">
                <tr>
                	<td colspan="2" valign="top" style="position: relative;width: 100%; z-index: 1;top: 0;background:rgb(243, 241, 241) none repeat scroll 0% 0%; font-family: sans-serif,'Times New Roman','Kh Battambang','Khmer Battambang';" >
                		 <?php echo $this->render('header.phtml')?>
			                <p style="font-size:13px !important;padding: 0;padding-bottom: 5px;margin-bottom: 5px;border-bottom: solid 1px #008;">
						              <span style="padding-left: 3px;padding-right: 3px;float: left; font-weight:600; color: #000088;"><?php echo $tr->translate("USING_BY");?> <a style="color: #d20317;" href="<?php echo $this->url(array('module'=>'','controller'=>'index','action'=>'changepassword')); ?>"><?php echo $username;?></a></span>  
							<a style="color: #000088;" href="<?php echo $this->url(array('module'=>'','controller'=>'index','action'=>'logout','value'=>'1')); ?>"> | <?php echo $tr->translate("SIGN_OUT");?> <i class="fa fa-reply" aria-hidden="true"></i></a>
			                 <?php if($action=='index' AND $module!='report' AND $module!='home'){?>
			                 <a class='add-link' style="float:right;" href="<?php echo $this->url(array('module'=>$module,'controller'=>$controller,'action'=>'add'),null,true); ?>"><?php echo $tr->translate('ADD');?> <span class="add_back"><i class="fa fa-plus-circle" aria-hidden="true"></i></span></a>
							<?php }elseif($action=='add' OR $action=='edit' OR $module=='report'){?>
							<a style="float:right;" class='add-link' href="<?php echo $this->url(array('module'=>$module,'controller'=>$controller,'action'=>'index'),null,true); ?>"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i> <?php echo $tr->translate('GO_BACK');?></a>
							<?php }?>
							</p>
                	</td>
                </tr>
                <tr>
                	<td colspan="2" height="0px;"></td>
                </tr>
            	<tr>
            			<td colspan="2" valign="top" width="99%" >
	            			<div class="col-sm-12" style=" padding: 0;">
            				<?php if($module!='home') {?>
		           			<div class="col-sm-2" style=" padding: 0;">
	            					<?php echo $this->render('menuleft.phtml')?>
		           			</div>
		           			<?php }?>
		           			<div  class="<?php if($module!='home') { echo 'col-sm-10'; }else{?><?php echo 'col-sm-12'; }?>">
		           				<?php if($module=='report' AND $action!='index'){?>
								<div class="menureport">
									<ul>
										<li class="preview"><a title="Preview" href="#" onclick="preview();"></a></li>
										<li class="print"><a href="#" title="Print" onclick="doPrint();" ></a></li>
										<li class="excel"><a href="#"  title="Export"  onclick="exportExcel();"></a></li>
									</ul>
								</div>
								<div style="clear:both;"></div>
								<?php }?>
								<?php 
								$db = new Application_Model_DbTable_DbUsers();
		            			$rs = $db->getAccessUrl($module,$controller,$action);
		            			echo $this->layout()->content;
	// 	            			if(!empty($rs) OR $action=='changepassword'){
	// 	            				echo $this->layout()->content;
	// 	            			}else{
	// 	            				echo $this->layout()->content;
	// 	            				echo $this->render('pagenotfund.phtml');
	// 	            			}
	            			 ?>
		           			</div>
            			</div>
           			</td>
           			
            			
            			
            	</tr>
            </table>
    </body>
	<iframe name=print_frame width=0 height=0 frameborder=0 src=about:blank></iframe>
<?php }else{
	echo $this->render('headerfront.phtml');
	echo $this->layout()->content;
	echo $this->render('footerfront.phtml');
}?>
<?php if($module=='report' AND $controller!='index'){?>
<script type="text/javascript">
function doPrint() {
	window.frames["print_frame"].document.body.innerHTML=dojo.byId('divPrint').innerHTML;
    window.frames["print_frame"].window.focus();
    window.frames["print_frame"].window.print();
    hideDialog();
}
function hideleft(){
	(dojo.style("leftmenu","display") == "none") ? 'show':'hide'();
}
function preview()
{ 
  var disp_setting="toolbar=no,status=no,resizable=no,location=no,directories=yes,menubar=no,"; 
      disp_setting+="scrollbars=no,width=1100, height=700, left=100, top=25"; 
  var content_vlue = document.getElementById("divPrint").innerHTML; 
  var docprint=window.open("","",disp_setting); 
   docprint.document.open(); 
   docprint.document.write('<html><head>'); 
   docprint.document.write('</head><div style=" font-size:16px !important; margin:0px; font-family:Verdana;"><style>table th {font-size:14px !important;} table td{font-size:12px !important;}</style><center>');          
   docprint.document.write(content_vlue);          
   docprint.document.write('</center></div></html>'); 
   docprint.document.close(); 
   docprint.focus(); 
}
function exportExcel(){
	$('#exportExcel').tableExport({type:'excel',escape:'false'});
}
</script>
<?php }?>
</html>