<?php
$tr = Application_Form_FrmLanguages::getCurrentlanguage();
$this->headTitle($tr->translate('ADD_NEW_ARTICLE')); 
echo $this->headTitle();
$frm = $this->frm;
$countlang = count($this->lang);
?>
<style>
	div.cke_contents.cke_reset {
		height: 600px !important;
	}
	img.image_view {
		width: 273px;
		height: 182px;
	}
	#table_parent thead tr td{
		background: url(../images/tbheader-bg1.jpg) repeat-x scroll center top #F1F1F1;
		border: 1px solid #CCC;
		color: #333;
		font-size: 14px;
		font-weight: bold;
		line-height: 30px;
		padding: 2px 5px;
		text-align: center;
		cursor: pointer;
	}
</style>
<script type="text/javascript">	
	dojo.require("dijit.form.ValidationTextBox");
	dojo.require('dijit.form.Form');	
	dojo.require('dijit.form.Button');
	dojo.require('dijit.form.FilteringSelect');
	dojo.require("dijit.Dialog");
	require(["dijit/form/CheckBox","dijit/Dialog","dijit/layout/TabContainer"]);
</script>
<script src="<?php echo $this->baseUrl();?>/public/ckeditor/ckeditor.js"></script>
<form action="<?php echo $this->url(array('module'=>'menu-manager','controller'=>'article','action'=>'add')); ?>" dojoType="dijit.form.Form" method="post" enctype="multipart/form-data">
	<script type="dojo/method" event="onSubmit">				
			if(this.validate()) {
				if(alias_require==0){ alert("Please check your title alias again.");return false;}
				loading();
				return true;
			}

			return false;
	</script>
		
	<table style="margin: 0 auto; width: 100%">
		<tr class="header">
			<td><strong><i class="fa fa-file-word-o" aria-hidden="true"></i><?php echo $tr->translate('ADD_NEW_ARTICLE')?></strong></td>
		</tr>
		<tr>
			<td>
					<table  width="100%">
						<tr>
							<td align="left" valign="top" width="70%">
							<fieldset>
							<?php if ($countlang>1){?>
								<div id="mainTabContainer" style=" position:relative; width:800px; display:block; height: 900px;" dojoType="dijit.layout.TabContainer" region="center" >
					      	<?php }?>		
					      	<?php $alias=''; foreach($this->lang as $key=> $rs){ if ($key<1){ $alias = str_replace(' ','',$rs['title']);}?>
					      			<div class="tabContentSection" dojoType="dijit.layout.ContentPane" title="<?php echo $tr->translate(strtoupper($rs['title']));?>" selected="true">
										<table cellspacing="5" width="100%">
											<tr>
												<td class="bold"><?php echo $tr->translate('TITLE')?></td>
												<td>
													<input type="text" onChange="generateAlias('<?php echo $alias;?>','<?php echo $rs['id'];?>');" dojoType="dijit.form.TextBox" required="required" name="title<?php echo str_replace(' ','',$rs['title']);?>"  id="title<?php echo str_replace(' ','',$rs['title']);?>" value="" class="fullside" placeholder="<?php echo $tr->translate("TITLE_IN_".strtoupper($rs['title']));?>" />
												</td>
											</tr>
											<tr><td class="bold" colspan="2"><?php echo $tr->translate('CONTENT_'.strtoupper($rs['title']))?></td></tr>
											<tr>
												<td colspan="2">
													<textarea class="ckeditor"   style="min-height:400px; height:400px;" id="description<?php echo str_replace(' ','',$rs['title']);?>" name="description<?php echo str_replace(' ','',$rs['title']);?>"></textarea>
												</td>
											</tr>
										</table>
									</div>
								<?php }?>
							<?php if ($countlang>1){?>
								</div>
							<?php }?>
								</fieldset>
							</td>
							<td width="30%" style=" vertical-align: top;">
								<table cellspacing="5" width="100%">
									<tr>
										<td><label id="message" style="color: red;"></label>
										<?php echo $frm->getElement('title_alias');?></td>
									</tr>
									<tr>
										<td class="bold" ><?php echo $tr->translate('CHOOSE_CATEGORY')?></td>
									</tr>
									<tr>
										<td><?php echo $frm->getElement('category');?></td>
									</tr>
									<tr>
										<td><strong><?php echo $tr->translate("បង្ហាញ")?></strong></td>
									</tr>
									<tr>
										<td>
											<select class="fullside" dojoType="dijit.form.FilteringSelect" name="show_page" id="show_page" autoComplete="false"​​ queryExpr="*${0}*">
												<option value="1">បង្ហាញទាំងអស់</option>
												<option value="2">តែទំព័រព័ត៌មាន</option>
												<option value="3">ទំព័រព័ត៌មាននិង នាយកដ្ឋានណាមួយ</option>
												<option value="4">បង្ហាញតែតាមនាយកដ្ឋានណាមួយ</option>
											</select>
										</td>
									</tr>
									<tr>
										<td><strong><?php echo $tr->translate("ជ្រើសរើសនាយកដ្ឋាន")?></strong></td>
									</tr>
									<tr>
										<td>
											<select class="fullside" dojoType="dijit.form.FilteringSelect" name="department_id" id="department_id" autoComplete="false"​​ queryExpr="*${0}*">
												<?php if(!empty($this->rsdepartment)){
														foreach($this->rsdepartment as $rs){
												?>	
													<option value="<?php echo $rs['id'];?>"><?php echo $rs['name'];?></option>
												<?php }}?>
											</select>
										</td>
									</tr>
									<tr><td class="bold"><?php echo $tr->translate('STATUS')?></td></tr>
									<tr>
										<td class="bold"><?php echo $frm->getElement('status');?></td>
									</tr>
									<tr>
										<td>
											<table id="table_parent" class="set-style" style="margin: 0 auto; width: 100%;  " >
												<thead>
													<tr>
														<td colspan="8" style="text-align: center;"><strong>Image (285 X 240px)</strong>
															<img class="image_view" id="image_view" src="<?php echo $this->baseUrl().'/public/images/slide/no-photo.png';?>" alt=""  />
															<div class="button_browse">
																<span>Image Feature<span> <i class="fa fa-camera" aria-hidden="true"></i></span></span>
																<input class="btn_borwse_image"  type="file" id="photo" name="photo" onchange="loadImage()">
															</div>
														</td>
													</tr>
												</thead>
											</table>
										</td>
									</tr>
								</table>
							</td>								
						</tr>
						<tr>
							<td colspan="2" align="center">
								<input type="button" value="GO_BACK" label="<?php echo $tr->translate('GO_BACK');?>" id="back" dojoType="dijit.form.Button" 
								iconClass="dijitIconUndo" onclick="window.history.back();" />
								<input class="button_success" type="submit" value="save_close" name="save_close" label="<?php echo $tr->translate('SAVE_CLOSE');?>" id="save_close" dojoType="dijit.form.Button"  iconClass="dijitEditorIcon dijitEditorIconSave"/> 	
								<input class="button_success" type="submit" value="save_new" name="save_new" label="<?php echo $tr->translate('SAVE_NEW');?>" id="save_new" dojoType="dijit.form.Button"  iconClass="dijitEditorIcon dijitEditorIconSave"/> 							
							</td>
						</tr>
					</table>	
			</td>			
		</tr>
	</table>	
	<input type="hidden" id="agent" name="agent" value="0" />	
</form>
<script>
dojo.ready(function(){
	$(window).keydown(function(event){
		if(event.keyCode == 13) {
		  event.preventDefault();
		  return false;
		}
	  });
});
function loading(){
    document.getElementsByClassName("overlay")[0].style.display="block";
}
function loadImage(){
	 var output = document.getElementById('image_view');
  output.src = URL.createObjectURL(event.target.files[0]);
}
var alias_require=0;
	var old_alias="";
	var specialcharalias = [" ",",",".","?",";","/","{","}","|","[","]","~","!","@","#","$","%","^","&","*","(",")","+","=","`","<",">"];
	function generateAlias(alias,lang=null){
		if(lang==2){
			return false;
		}
		title = dijit.byId('title'+alias).get('value');
		var title_alias = title.split(' ').join('-');
		for(var i=0; i<specialcharalias.length;i++){
			title_alias = title_alias.split(specialcharalias[i]).join('');
		}
		dijit.byId("title_alias").attr('value',title_alias.toLowerCase());
		checkTitle();
	}
	url_CheckTitle = '<?php echo $this->url(array('module'=>'menu-manager','controller'=>'article','action'=>'check-title-alias'));?>';
	function checkTitle(){
		title_alias = dijit.byId('title_alias').get('value');
		dojo.xhrPost({
			url:url_CheckTitle,	
			content:{ 
				'title_alias': title_alias
			},
			handleAs:"json",
			load: function(data) {	
				if(data !== false ){
			   		document.getElementById('message').innerHTML ='Alias is duplicated you can set new alias or clear alias will auto generate.';
			   		dijit.byId('title_alias').focus();
			   		alias_require=0;
				}else{
					document.getElementById('message').innerHTML ='';
					alias_require=1;
				}
				old_alias =dijit.byId('title_alias').get('value');
			},
			error: function(err) {
				alert(err);
			}
		});
	}
	 function checkSpcialChar(event){
         if(((event.keyCode > 64 && event.keyCode < 91) || event.keyCode == 45 || (event.keyCode > 96 && event.keyCode < 123) || event.keyCode == 8 || (event.keyCode >= 48 && event.keyCode <= 57))){
             event.returnValue = true;
             return;
          }
          event.returnValue = false;
       }
</script>
