<?php 
$db = new Application_Model_DbTable_DbGlobalSelect();
//$bannerlist = $db->getWebsiteSetting("banner");
//$banner = explode(",", $bannerlist['value']);
$tr = Application_Form_FrmLanguages::getCurrentlanguage();
$session_lang=new Zend_Session_Namespace('lang');
$currentlang = $session_lang->lang_id;
if ($currentlang==1){
	$day = array("Mon"=>"Monday", "Tue"=>"Tuesday", "Wed"=>"Wednesday","Thu"=>"Thursday", "Fri"=>"Friday", "Sat"=>"Saturday", "Sun"=>"Sunday");
	$number = array("0","1","2","3","4","5","6","7","8","9");
	$month = array("01"=>"Jan", "02"=>"Feb", "03"=>"Mar","04"=>"Apr", "05"=>"May", "06"=>"Jun", "07"=>"Jul","08"=>"Aug", "09"=>"September", "10"=>"Oct","11"=>"Nov", "12"=>"Dec");
}else{
	$day = array("Mon"=>"ថ្ងៃច័ន្ទ", "Tue"=>"ថ្ងៃអង្គារ", "Wed"=>"ថ្ងៃពុធ","Thu"=>"ថ្ងៃព្រហស្បត្តិ៍", "Fri"=>"ថ្ងៃសុក្រ", "Sat"=>"ថ្ងៃសៅរ៍", "Sun"=>"ថ្ងៃអាទិត្យ");
	$number = array("០","១","២","៣","៤","៥","៦","៧","៨","៩");
	$month = array("01"=>"មករា", "02"=>"កុម្ភៈ", "03"=>"មិនា", "04"=>"មេសា", "05"=>"ឧសភា", "06"=>"មិថុនា", "07"=>"កក្កដា","08"=>"សីហា", "09"=>"កញ្ញា", "10"=>"តុលា","11"=>"វិច្ឆិកា", "12"=>"ធ្នូ");
}
?>
<title><?php echo $this->rsfirst['title'];?></title>
		<section class="content">
			<div class="container container-content">
				<div class="row">
					<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
						<?php 
							echo $this->render('mobilelanguagemenu.phtml');
						?>
						<div class="home-breadcrum">
							<ul class="breadcrum-list">
								<li><a href="<?php echo $this->baseUrl();?>"><?php echo $tr->translate("HOME");?></a></li>
								<li><?php echo $tr->translate("DEPARTMENT");?></li>
							</ul>
						</div>
						<div id="article-detail" class="mtb-10 pr-20 pl-20"> 
							<div class="article-detail" >
								<div class="row">
									
									<div class="col-sm-12 article-detail-contant">
										<div class="head-title pr-10 pt-10  pl-10 mb-10">
											<h4 class="department ptb-10"><?php echo empty($this->rsfirst['title'])?$tr->translate("DEPARTMENT"):$this->rsfirst['title'];?></h4>
										</div>
									   <div class="article-detail-iteam">
										   <div class="ptb-10 ">
											 <?php echo $this->rsfirst['description'];?>
										   </div>
									   </div>
									</div>
									<div class="clearfix"></div>
									<?php if(!empty($this->rs_article)){?>
									<div class="department-news-blog-post-wrapper">
										<?php  foreach($this->rs_article as $article){ ?>
						                <div class="single-blog-post col-md-6 col-sm-12 col-xs-12">
											<div class="department-news-list">
												<div class="blog-image">
													<a href="<?php echo $this->baseUrl()."/page/index?article=".$article['alias_article'].".html"; ?>">
														<?php 
															$image= $this->baseUrl()."/public/images/noimage.jpg";
															if(!empty($article['image_feature'])){
															$image = 	$this->baseUrl()."/public/images/article/".$article['image_feature'];
															}?>
														<img src="<?php echo $image;?>">
													</a>
												</div>
												<div class="blog-post-text">
													<h4><a href="<?php echo $this->baseUrl()."/page/index?article=".$article['alias_article'].".html"; ?>"><?php echo $article['title'];?></a></h4>
													<p>
													<?php
														echo mb_substr(strip_tags($article['description']),0,100, "utf-8")."...";
													?> 
													</p>
													<div class="readmore text-right">
													<a href="<?php echo $this->baseUrl()."/page/index?article=".$article['alias_article'].".html"; ?>" class="default-btn"><span><?php echo $tr->translate("READ_MORE")?></span></a>
													</div>
												</div>
											</div>
										</div>
										<?php }?>
										<div class="clearfix"></div>
										<div class="col-md-12 col-sm-12 col-xs-12 mt-10 mb-50">
											<div class="btn-showall">
												<a href="<?php echo $this->baseUrl()."/page/index?category=".$cate_home = $this->categoryinfo['alias_category'].".html&department=".$this->rsfirst['alias'];?>" class="showall-btn"><?php echo $tr->translate("SHOW_ALL")?></a>
											</div>
										</div>
										<div class="clearfix"></div>
									</div>
									<?php }?>
									<?php if(!empty($this->rs_doc)){?>
									<div class="document-dep-blog-post-wrapper">
										<div class="col-sm-12 document-contant">
											<div class="head-title pr-10 pt-10  pl-10 mb-10">
												<h4 class="ptb-10"><?php echo $tr->translate("OTHER_DOCUMENT")?></h4>
											</div>
											<div class="blog-document-list">
												<?php foreach ($this->rs_doc as $document){?>
												<div class="document-list pb-10 mb-10">
													<div class="col-sm-2 blog-image">
														<a target="_blank" href="<?php echo $this->baseUrl()."/file/".$document['file_name'];?>" >
															<?php 
																$image = $this->baseUrl()."/public/images/noimage.jpg";
																if (!empty($document['image'])){
																		$image = $this->baseUrl()."/public/file/image_feature/".$document['image'];
																	}
																?>
															<img src="<?php echo $image;?>">
														</a>
													</div>
													<div class="col-sm-10 blog-post-text">
														<p>
														<?php 
															$date = strtotime($document['modify_date']);
															$spp = str_split(date("d",$date));
															$num="";
															foreach ($spp as $ss){
																$num.=$number[$ss];
															}
															$year='';
															$sp_year = str_split(date("Y",$date));
															foreach ($sp_year as $y){
																$year.=$number[$y];
															}
															echo $day[date("D",$date)]." ".$num." ".$month[date("m",$date)]." ".$year;
															?>
														</p>
														<h4><a target="_blank" href="<?php echo $this->baseUrl()."/file/".$document['file_name'];?>" ><?php echo $document['title'];?></a></h4>
													</div>
													<div class="clearfix"></div>
												</div>
												<?php }?>
												
											</div>
										</div>
										<div class="clearfix"></div>
										<div class="col-md-12 col-sm-12 col-xs-12 mt-10 mb-50">
											<div class="btn-showall">
												<a href="<?php echo $this->baseUrl()."/documents/index?department=".$this->rsfirst['alias'].".html";?>" class="showall-btn"><?php echo $tr->translate("SHOW_ALL")?></a>
											</div>
										</div>
										<div class="clearfix"></div>
									</div>
									<?php }?>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
						<?php 
							echo $this->render('languagemenu.phtml');
						?>
						<?php if(!empty($this->rsdepartment)){?>
						<div id="blog-department" class="mtb-10"> 
							<div class="blog-department" >
								<div class="row">
									<div class="col-sm-12 blog-department-contant">
										<ul class="department">
											<?php foreach($this->rsdepartment as $key =>$rs){?>
											<li <?php if($this->param==$rs['alias'] OR ($this->param=='' AND $key==0)){echo "class='activemenu'";}?>><a href="<?php echo $this->baseUrl()."/departments/index?dept=".$rs['alias'].".html";?>"><?php echo $rs['name'];?></a></li>
											<?php }?>
										</ul>
									</div>
									<div class="clearfix"></div>
								</div>
							</div>
						</div>
						<?php }?>
						<?php echo  $this->render('banner.phtml');?>
					</div>
					<div class="clearfix"></div>
				
				</div>
			</div>
		</section>