<?php
$tr = Application_Form_FrmLanguages::getCurrentlanguage();
$this->headTitle($tr->translate('EDIT_CURRICULUM')); 
echo $this->headTitle();
$frm = $this->frm;
$countlang = count($this->lang);
$db = new About_Model_DbTable_DbCurriculum();

$images = $this->baseUrl().'/public/images/no-profile.png';
if(!empty($this->row['image_feature'])){
	$images=$this->baseUrl()."/public/images/article/".$this->row['image_feature'];
}
?>
<script type="text/javascript">	
	dojo.require("dijit.form.ValidationTextBox");
	dojo.require("dijit.form.DateTextBox");
	dojo.require("dijit.form.Textarea");
	dojo.require('dijit.form.Form');	
	dojo.require('dijit.form.Button');
	dojo.require('dijit.form.FilteringSelect');
	dojo.require("dijit.Dialog");
	require(["dijit/form/CheckBox","dijit/Dialog","dijit/layout/TabContainer"]);
</script>
<style>
.choose_file{
    position: relative;
    display: inline-block;
    border-radius: 8px;
    border: #b1badf solid 1px;
    width: 100%;
    padding: 4px 6px 4px 8px;
    font: normal 14px Myriad Pro, Verdana, Geneva, sans-serif;
    color: #7f7f7f;
    margin-top: 2px;
    background: #edf7f8;
}
.choose_file input[type="text"]{
    -webkit-appearance:none; 
    position:absolute;cursor: pointer;
    top:0; right:0;    width: 100%;
    opacity:0; 
}
table#table_parent tr td {
     /*  background: url(<?php //echo $this->baseUrl()."/"?>images/tbheader-bg1.jpg) repeat-x scroll center top #F1F1F1;*/
    border: 1px solid #CCC;
    color: #333;
    font-size: 14px;
    font-weight: bold;
    line-height: 30px;
    padding: 2px 5px;
    text-align: center;
    cursor: pointer;
    background: #f8f8f8;
}
td img#image_view {
    width: 160px;
    height: 170px;
    border: solid 1px #ccc;
}
    table#table_parent tr td strong {
    display: block;
}
div.cke_contents.cke_reset {
		height: 600px !important;
	}
</style>
<script src="<?php echo $this->baseUrl();?>/public/ckeditor/ckeditor.js"></script>
<form action="" dojoType="dijit.form.Form" method="post" enctype="multipart/form-data">
	<script type="dojo/method" event="onSubmit">				
			if(this.validate()) {
				loading();
				return true;
			}

			return false;
	</script>
		
	<table style="margin: 0 auto; width: 100%">
		<tr class="header">
				<td><strong><i class="fa fa-cubes" aria-hidden="true"></i><?php echo $tr->translate('EDIT_CURRICULUM')?></strong></td>
			</tr>
		<tr>
			<td>
					<table  width="100%">
						<tr>
							<td  class="bold"><?php echo $tr->translate('TITLE')?></td>
							<td>
								
							</td>
						</tr>
						<tr>
							<td align="left" valign="top" width="70%">	
							<?php if ($countlang>1){?>
								<div id="mainTabContainer" style=" position:relative; width:800px; display:block; height: 600px;" dojoType="dijit.layout.TabContainer" region="center" >
					      	<?php }?>		
					      	<?php $alias=''; foreach($this->lang as $key=> $rs){ if ($key<1){ $alias = str_replace(' ','',$rs['title']);}
					     		 $data =$db->getCurriculumBYID($rs['id'],$this->id);
					      	?>
					      			<div class="tabContentSection" dojoType="dijit.layout.ContentPane" title="<?php echo $tr->translate(strtoupper($rs['title']));?>" selected="true">
										<table cellspacing="5" width="100%">
											<tr><td class="bold" ><?php echo $tr->translate('Name Position and Ministry')." (".$tr->translate(strtoupper($rs['title'])).")";?></td></tr>
											
											<tr>
												<td>
													<input type="text"  style="min-height: 100px;font-family: inherit; font-size: inherit; line-height: 20px;" dojoType="dijit.form.Textarea" required="required" name="title<?php echo str_replace(' ','',$rs['title']);?>"  id="title<?php echo str_replace(' ','',$rs['title']);?>" value="<?php echo $data['title'];?>" class="fullside" placeholder="<?php echo $tr->translate("TITLE_IN_".strtoupper($rs['title']));?>" />
												</td>
											</tr>
											<tr><td class="bold" ><?php echo $tr->translate('POB')." (".$tr->translate(strtoupper($rs['title'])).")";?></td></tr>
											<tr>
												<td >
													<input style="min-height: 50px;font-family: inherit; font-size: inherit; line-height: 20px;" type="text"  dojoType="dijit.form.Textarea" required="required" name="pob<?php echo str_replace(' ','',$rs['title']);?>"  id="pob<?php echo str_replace(' ','',$rs['title']);?>" value="<?php echo $data['pob'];?>" class="fullside" placeholder="<?php //echo $tr->translate("TITLE_IN_".strtoupper($rs['title']));?>" />
												</td>
											</tr>
											<tr>
												<td class="bold" style="width:110px"><?php echo $tr->translate('DESCRIPTION_'.strtoupper($rs['title']))?>	</td>
											</tr>
											<tr>
												<td >
													<textarea class="ckeditor" height="400px" style="min-height:60px;" id="description<?php echo str_replace(' ','',$rs['title']);?>" name="description<?php echo str_replace(' ','',$rs['title']);?>"><?php echo $data['description'];?></textarea>
												</td>
											</tr>
										</table>
									</div>
								<?php }?>
							<?php if ($countlang>1){?>
								</div>
							<?php }?>
								
							</td>
							<td width="30%" valign="top">
								<table cellspacing="5" width="100%">
									
									<tr>
										<td>
											<table id="table_parent" class="set-style" style="margin: 0 auto; width: 100%;  " >
												<thead>
													<tr>
														<td colspan="8" style="text-align: center;"><strong>Image (700 X 260px)</strong>
															<img class="image_view" id="image_view" src="<?php echo $images;?>" alt=""  />
															<div class="button_browse">
																<span>Image Feature<span> <i class="fa fa-camera" aria-hidden="true"></i></span></span>
																<input class="btn_borwse_image"  type="file" id="photo" name="photo" >
															</div>
														</td>
													</tr>
												</thead>
											</table>
										</td>
									</tr>
									<tr><td  class="bold"><?php echo $tr->translate('DOB')?></td></tr>
									<tr>
										<td><?php echo $frm->getElement('dob');?></td>
									</tr>
									<!-- 
									<tr><td  class="bold"><?php //echo $tr->translate('POB')?></td></tr>
									<tr>
										<td><?php //echo $frm->getElement('pob');?></td>
									</tr>
									 -->
									<tr><td  class="bold"><?php echo $tr->translate('STATUS')?></td></tr>
									<tr>
										<td><?php echo $frm->getElement('status');?></td>
									</tr>
								</table>
							</td>								
						</tr>
						<tr>
							<td colspan="2" align="center">
								<input type="button" value="GO_BACK" label="<?php echo $tr->translate('GO_BACK');?>" id="back" dojoType="dijit.form.Button" 
									iconClass="dijitIconUndo" onclick="window.history.back();" />
								<input class="button_success" type="submit" value="save_close" name="save_close" label="<?php echo $tr->translate('SAVE_CLOSE');?>" id="save_close" dojoType="dijit.form.Button"  iconClass="dijitEditorIcon dijitEditorIconSave"/> 	
							</td>
						</tr>
					</table>	
			</td>			
		</tr>
	</table>	
	<input type="hidden" id="agent" name="agent" value="0" />	
</form>
<script>

function readURL(input) {
    if (input.files && input.files[0]) {
        var reader = new FileReader();
        
        reader.onload = function (e) {
            $('#image_view').attr('src', e.target.result);
        }
        reader.readAsDataURL(input.files[0]);
    }
}
$("#photo").change(function(){
    readURL(this);
});
function loading(){
    document.getElementsByClassName("overlay")[0].style.display="block";
}
var alias_require=0;
var old_alias="<?php echo $this->row['alias_message'];?>";
var specialcharalias = [" ",",",".","?",";","/","{","}","|","[","]","~","!","@","#","$","%","^","&","*","(",")","+","=","`","<",">"];
function generateAlias(alias,lang=null){
	if(lang==2){
		return false;
	}
	title = dijit.byId('title'+alias).get('value');
	var title_alias = title.split(' ').join('-');
	for(var i=0; i<specialcharalias.length;i++){
		title_alias = title_alias.split(specialcharalias[i]).join('');
	}
	dijit.byId("title_alias").attr('value',title_alias.toLowerCase());
	checkTitle();
}
url_CheckTitle = '<?php echo $this->url(array('module'=>'about','controller'=>'message','action'=>'check-title-alias'));?>';
function checkTitle(){
	title_alias = dijit.byId('title_alias').get('value');
	if(title_alias.toLowerCase()==old_alias.toLowerCase()){
		document.getElementById('message').innerHTML ='';
		alias_require=1;
		return false;
	}
	dojo.xhrPost({
		url:url_CheckTitle,	
		content:{ 
			'title_alias': title_alias
		},
		handleAs:"json",
		load: function(data) {	
			if(data !== false ){
		   		document.getElementById('message').innerHTML ='Alias is duplicated you can set new alias or clear alias will auto generate.';
		   		dijit.byId('title_alias').focus();
		   		alias_require=0;
			}else{
				document.getElementById('message').innerHTML ='';
				alias_require=1;
			}
			old_alias =dijit.byId('title_alias').get('value');
		},
		error: function(err) {
			alert(err);
		}
	});
}
 function checkSpcialChar(event){
     if(((event.keyCode > 64 && event.keyCode < 91) || event.keyCode == 45 || (event.keyCode > 96 && event.keyCode < 123) || event.keyCode == 8 || (event.keyCode >= 48 && event.keyCode <= 57))){
         event.returnValue = true;
         return;
      }
      event.returnValue = false;
   }
</script>
