<?php 
$url="http://".$_SERVER['HTTP_HOST'].$_SERVER['REQUEST_URI'];
$tr = Application_Form_FrmLanguages::getCurrentlanguage();
?>
<?php if (!empty($this->param['company'])){
	$company = $this->company_info;
	?>
<title><?php echo $tr->translate("More About Organization");?></title>
<section class="content">
	<div class="container container-content">
		<div class="row">
			<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
				<?php 
					echo $this->render('mobilelanguagemenu.phtml');
				?>
				<div class="home-breadcrum">
					<ul class="breadcrum-list">
						<li><a href="<?php echo $this->baseUrl();?>"><?php echo $tr->translate("HOME");?></a></li>
						<li><?php echo $tr->translate("More About Organization");?></li>
					</ul>
				</div>
				<div id="document-list" class="mtb-10 pr-20 pl-20"> 
					<div class="document-list" >
						<div class="row">
							
							<div class="col-sm-12 document-contant">
								<div class="head-title pr-10 pt-10  pl-10 mb-10">
									<h4 class="ptb-10"><?php echo $tr->translate("More About Organization");?></h4>
								</div>
								<div class="result-blog ptb-20">
										<div class="company-list ptb-10 mb-10">
											<div class="col-sm-4 blog-image">
													<?php 
														$image = $this->baseUrl()."/public/images/noimage.jpg";
														if (!empty($company['logo'])){
																$image = $this->baseUrl()."/public/companylogo/".$company['logo'];
															}
														?>
													<img src="<?php echo $image;?>">
											</div>
											<div class="col-sm-8 blog-companyinfo-text ">
												<h4><?php echo $company['com_name'];?></h4>
												<ul class="mtb-10">
													<?php if (!empty($company['province_name'])){?>
													<li>
														<div class="list-info lb-title col-sm-4"><?php echo $tr->translate("CITY_PROVINCE");?></div>
														<div class="list-info col-sm-8"><?php echo $company['province_name'];?></div>
														<div class="clearfix"></div>
													 </li>
													 <?php }?>
													 <?php if (!empty($company['com_phone'])){?>
													<li>
														<div class="list-info lb-title col-sm-4"><?php echo $tr->translate("PHONE");?></div>
														<div class="list-info col-sm-8"><?php echo $company['com_phone'];?></div>
														<div class="clearfix"></div>
													 </li>
													 <?php }?>
													 <?php if (!empty($company['email'])){?>
													<li>
														<div class="list-info lb-title col-sm-4"><?php echo $tr->translate("EMAIL");?></div>
														<div class="list-info col-sm-8"><?php echo $company['email'];?></div>
														<div class="clearfix"></div>
													 </li>
													 <?php }?>
													 <?php if (!empty($company['website'])){?>
													<li>
														<div class="list-info lb-title col-sm-4"><?php echo $tr->translate("WEBSITE");?></div>
														<div class="list-info col-sm-8"><?php echo $company['website'];?></div>
														<div class="clearfix"></div>
													 </li>
													 <?php }?>
												</ul>
											</div>
										<div class="clearfix"></div>
									</div>
									<div class="clearboth"></div>
								</div>
		                       <div class=" description-company pb-20">
									<span><?php echo $tr->translate("ADDRESS");?></span> : <?php echo $company['address'];?>
									<p class="company_desc"><?php echo $company['note'];?></p>
								</div>
								<?php if (!empty($company['file1'])){?>
								<div class="page_title documenttil mtb-10">
									<h4><?php echo $tr->translate("Legal Document");?></h4>
								</div>
								<div class="company-detail">
									<ul class="document-list">
										<?php for ($i=1; $i<=8; $i++){
										if(empty($company['file'.$i])){continue;}
											?>
										<li>
											<img src="<?php echo $this->baseUrl()."/public/companylogo/".$company['file'.$i];?>" />
										</li>
										<?php }?>
									</ul>
								</div>
								<?php }?>
							</div>
							<div class="clearfix"></div>
							
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
				<?php 
					echo $this->render('languagemenu.phtml');
				?>
				<?php echo  $this->render('banner.phtml');?>
			</div>
			<div class="clearfix"></div>
		
		</div>
	</div>
</section>
<?php }else if (!empty($this->param['search'])){
$url=$this->baseUrl()."/searchcompany?search=company&name=".$this->param['name']."&type=".$this->param['type']."&province=".$this->param['province'];
	?>
<title><?php echo $tr->translate("Result Search");?></title>
<section class="content">
	<div class="container container-content">
		<div class="row">
			<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
				<?php 
					echo $this->render('mobilelanguagemenu.phtml');
				?>
						
			
				<div class="home-breadcrum">
					<ul class="breadcrum-list">
						<li><a href="<?php echo $this->baseUrl();?>"><?php echo $tr->translate("HOME");?></a></li>
						<li><?php echo $tr->translate("Result Search");?></li>
					</ul>
				</div>
				
				
				<div id="document-list" class="mtb-10 pr-20 pl-20"> 
					<div class="document-list" >
						<div class="row">
							
							<div class="col-sm-12 document-contant">
								<div class="blog-search-content pt-20" >
									<div class="row">
										<div class="col-sm-12 result search-home-contant">
											<form action="<?php echo $this->baseUrl()."/searchcompany";?>" method="GET">
											 <div class="row-form-home">
												<div class="col-sm-4" >
													<input type="hidden" name="search" id="search" value="company">
													<input type="text" name="name" id="name" value="<?php echo $this->param['name'];?>" placeholder="<?php echo $tr->translate("ORG_NAME");?>">
												</div>
												<div class="col-sm-3" >
													<select name="type" id="type" class="js-select2" data-placeholder="<?php echo $tr->translate("TYPE");?>">
														<option value=""></option>
														<option value="1" <?php if($this->param['type']==1){ echo  'selected="selected"';} ?> ><?php echo $tr->translate("For Handicrafts,SME");?></option>
														<option value="2" <?php if($this->param['type']==2){ echo  'selected="selected"';} ?>><?php echo $tr->translate("For The Water Supply Sector");?></option>
													</select>
												</div>
												<div class="col-sm-3" >
													<select name="province" id="province" class="js-select2" data-placeholder="<?php echo $tr->translate("City_Province");?>" >
														<option value=""></option>
														<?php if(!empty($this->rsprovince)){
														foreach($this->rsprovince as $rs){
														?>	
															<option value="<?php echo $rs['id'];?>" <?php if($this->param['province']==$rs['id']){ echo  'selected="selected"';} ?>><?php echo $rs['name'];?></option>
														<?php }}?>
													</select>
												</div>
												<div class="col-sm-2" >
													<div class="button_submit" >
														<input type="submit" value="<?php echo $tr->translate("SEARCH");?>"  class="btu_submit"/>
													</div>
												</div>
												<div class="clearfix"></div>
											</div>
											</form>
										</div>
										
									</div>
								</div>
								<div class="head-title pr-10 pt-10  pl-10 mb-10">
									<h4 class="ptb-10"><?php echo $tr->translate("Result Search");?></h4>
								</div>
						
								<?php if (!empty($this->company)){?>
								<div class="result-blog ptb-20">
										<?php foreach ($this->company as $company){?>
										
										<div class="company-list ptb-10 mb-10">
											<div class="col-sm-4 blog-image">
													<?php 
													$image = $this->baseUrl()."/public/images/noimage.jpg";
													if (!empty($company['logo'])){
															$image = $this->baseUrl()."/public/companylogo/".$company['logo'];
														}
													?>
													<a href="<?php echo $this->baseUrl()."/searchcompany?company=".base64_encode($company['id']);?>">
													<img src="<?php echo $image;?>">
													</a>
											</div>
											<div class="col-sm-8 blog-companyinfo-text ">
												<h4><a href="<?php echo $this->baseUrl()."/searchcompany?company=".base64_encode($company['id']);?>"><?php echo $company['com_name'];?></a></h4>
												<ul class="mtb-10">
													<?php if (!empty($company['province_name'])){?>
													<li>
														<div class="list-info lb-title col-sm-4"><?php echo $tr->translate("CITY_PROVINCE");?></div>
														<div class="list-info col-sm-8"><?php echo $company['province_name'];?></div>
														<div class="clearfix"></div>
													 </li>
													 <?php }?>
													 <?php if (!empty($company['com_phone'])){?>
													<li>
														<div class="list-info lb-title col-sm-4"><?php echo $tr->translate("PHONE");?></div>
														<div class="list-info col-sm-8"><?php echo $company['com_phone'];?></div>
														<div class="clearfix"></div>
													 </li>
													 <?php }?>
													 <?php $k=1; if ($k==2){?>
													 <?php if (!empty($company['email'])){?>
													<li>
														<div class="list-info lb-title col-sm-4"><?php echo $tr->translate("EMAIL");?></div>
														<div class="list-info col-sm-8"><?php echo $company['email'];?></div>
														<div class="clearfix"></div>
													 </li>
													 <?php }?>
													 <?php if (!empty($company['website'])){?>
													<li>
														<div class="list-info lb-title col-sm-4"><?php echo $tr->translate("WEBSITE");?></div>
														<div class="list-info col-sm-8"><?php echo $company['website'];?></div>
														<div class="clearfix"></div>
													 </li>
													 <?php }?>
													  <?php if (!empty($company['address'])){?>
													<li>
														<div class="list-info lb-title col-sm-4"><?php echo $tr->translate("ADDRESS");?></div>
														<div class="list-info col-sm-8"><?php echo $company['address'];?></div>
														<div class="clearfix"></div>
													 </li>
													 <?php }?>
													 <?php }?>
												</ul>
											</div>
										<div class="clearfix"></div>
									</div>
									<?php }?>
									<div class="clearboth"></div>
										<?php }?>
								</div>
		                        <?php 
		                        if($this->countPages>1){ 
								 	$statpage = $this->currentPage - 5;
								 	$endpage = $this->currentPage + 5;
								 	if ($this->currentPage<=5){
								 		$statpage = 1;
								 		$endpage =10;
								 	}
		                        if (!empty($this->countPages)){
								 ?> 
								<div class="pagination-wrapper text-center fix">
									<div class="pagination-content">
									  <?php if($this->countPages>1){ ?>
										<a class="ht-page <?php if($this->currentPage==1){ echo "active";}?>" href="<?php echo $url."&pages=".$this->previousPage;?>"><i class="fa fa-long-arrow-left" aria-hidden="true"></i></a>
										<ul class="pagination">
											 <?php  $i=0; for( $i=1; $i<=$this->countPages; $i++){?>
		           			 				<?php if ($statpage<=$i && $endpage>=$i){?>
											<li class="<?php if($i==$this->currentPage){ echo "active";}?>"><a href="<?php echo $url."&pages=".$i;?>"><?php echo $i;?></a></li>
											 <?php }}?>
										</ul>
										<a class="ht-page <?php if($this->countPages==$this->currentPage){ echo "active"; }?>" href="<?php echo $url."&pages=".$this->nextPage;?>"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
										<?php }?>
									</div>
								</div>
								 <?php }}?>
							</div>
							<div class="clearfix"></div>
							
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
				<?php 
					echo $this->render('languagemenu.phtml');
				?>
				<?php if (!empty($this->banner)){?>
				<div class="blog-advertise pt-20">
					<?php foreach ($this->banner as $rs){?>
					<div class="row_advertise pb-20"> 
						<?php if($rs['option_link']==1){ echo '<a href="'.$this->baseUrl().'/banner/index/ads/'.base64_encode($rs['id']).'">'; }else{ echo '<a href="'.$rs['link'].'" target="_blank">'; } ?><img style="width:100%" src="<?php echo $this->baseUrl()."/public/images/banner/".$rs['image']?>" /></a>
					</div>
					<?php }?>
				</div>
				<?php }?>
			</div>
			<div class="clearfix"></div>
		
		</div>
	</div>
</section>
<?php } ?>